/**
 * Created by M. on 10.04.2016.
 * * Last edit: 08.07.2016 22:35
 */

/**
* index.html
*/

#appLogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 5px;

    max-height: 110px;

}

header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 120px;
    max-height: 120px;
    min-width: 772px;
    background-color: #101010;
    color: white;

    z-index: 3;
}

body{
    background-color: #ebebeb;
    min-width: 772px;
    /*background-color: #faf2cc;*/
}

textarea{
    resize: none;
}

#viewContainer{
    position: relative;
    top: 120px;
    width: 90%;
    min-width: 772px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ebebeb;

    /*z-index: 1;*/
}

.headerMenu{
    position: relative;
    top: -45px;
}
ul.headerMenu li{
  cursor: pointer;
}

ul.headerMenu a:hover{
    color: white;
    background-color: #2aabd2;
}

/**
* login
*/
.mainJumbotron{
    background-color: whitesmoke;
    position: relative;
    top: 10px;
    min-width: 772px;

}

/**
* registration
*/

.registrationForm{
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.registrationButton{
    float: right;
}


/**
* home.html
*/

.viewContainer{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    z-index: 1;
}

.tableContainer {
    width: 100%;
}

.tableContainer th{
    cursor: default;
}

.clickableCell{
    cursor: pointer;
}

h3{
    max-width: 300px;
}

.newButton{
    position: relative;
    top: -40px;

    float: right;
}

.sideMenuCell{
    width: 140px;
    max-width: 140px;

    cursor: default;
}

.sideMenu{
    float: right;
    width: 140px;
    max-width: 140px;
}

.sideMenuDot{
    float: right;
    position: relative;
    left: -1px;
    height: 33px;
    width: 40px;

    border-radius: 3px;
    text-align: center;
    cursor: pointer;
}

.sideMenuDot:hover{
    /*background-color: #337ab7;*/
    background-color: #2aabd2;
}

.sideMenuButton{
    width: 40px;
    position: relative;
    left: 43px;
    visibility: hidden;
}

.orderCell{
    width:50px;
    text-align: center;
}

th.orderCell{
    cursor: default;
}

td.orderCell{
    cursor: pointer;
}

.nameCell{
    min-width: 100px;
    width: 100px;
    text-align: center;
}

th.nameCell{
    cursor: default;
}

td.nameCell{
    cursor: pointer;
}

th.descriptionCell{
    cursor: default;
}

td.descriptionCell{
    cursor: pointer;
}

span.cursiveStyle{
    font-style: italic;
}

/*
* base.html
*/

.baseTableContainer{
    width: 200px;
    max-width: 200px;
}

h5{
    position: relative;
    left: 25px;
}

tr.baseTable:hover{
    background-color: #2aabd2;
}

th.baseTable{
    text-align: right;
    font-size: medium;
    cursor: pointer;

    min-width: 100px;
    width: 100px;
    max-width: 100px;
}

td.baseTable{
    text-align: center;
    font-size: medium;
    cursor: pointer;

    min-width: 100px;
    width: 100px;
    max-width: 100px;
}

td.buttonCell{
    text-align: center;
    min-width:40px ;
    max-width: 40px;
    background-color: orange;
}

div.baseFunction{
    position: relative;
    top: -45px;
    float: right;

    max-width: 720px;
}

li.baseFunction a{
    color: black;
}

li.baseFunction a:hover{
    color: white;
    background-color: #2aabd2;
    cursor: pointer;
}

li.baseFunction label{
    font-size: 17px;
    cursor: pointer;
}

li.baseFunctionDisabled a{
    color: dimgrey;
}

li.baseFunctionDisabled a:hover{
    color: grey;
    background-color: #2aabd2;
    cursor: not-allowed;
}

li.baseFunctionDisabled label{
    font-size: 17px;
    cursor: not-allowed;
}

ul.dropdown-menu i{
    margin-top: 10px;
}

.shareTableContainer{
    min-width: 580px;
    width: 580px;
    max-width: 580px;

    position: relative;
    /*top: -175px;*/
    float: right;
}

th.shareTable{
    text-align: center;
    cursor: default;
}

td.shareTable{
    text-align: center;
    cursor: default;
}

.shareIndexCell{
    width:50px;
    max-width: 50px;
}

.shareUserCell{
    min-width: 300px;
    width: 300px;
    max-width: 300px;
}

.sharePermissionCell{
    min-width: 90px;
    width: 90px;
    max-width: 90px;
}

li.baseElement{
    background-color: #337ab7;
    border-color: #337ab7;
    width: 120px;
    height: 120px;
    cursor: pointer;

    border-radius: 10px;

    text-align: center;
}

li.baseElement:hover{
    background-color: #2aabd2;
    /*background-color: #d9edf7;*/
    border-color: #31708f;
    color: white;
}

li.baseElement span{
    cursor: pointer;
}

li.baseElement label{
    font-size: 40px;
    cursor: pointer;
}

.permissionAlert{
    /*position: relative;
    top: 150px;*/

    /*max-width: 520px;*/
    max-height: 30px;
    text-align: center;

    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.permissionAlert div{
    /*margin-top: 0px;*/
    max-height: 30px;
}

.permissionAlert label{
    position: relative;
    top: -10px;
}

.baseMask{

    position: absolute;
    top: 0px;
    left: 5%;
    width: 90%;
    /*height: 100px;*/
    min-height: 200px;

    border-radius: 3px;
    background-color: darkgrey;
    opacity: 0.97;

    text-align: center;

    /*z-index: 2;*/
}

.baseMask div{
    position: relative;
    top: 100px;
}

.baseMask h3{
    margin-right: auto;
    margin-left: auto;

}

/*
* facts.html
*/

.factsIndexCell{
    text-align: center;
    width: 100px;
    max-width: 100px;
}

.factCell{
    text-align: center;
}
/*
.factsAttributeCell{
    text-align: right;
}

.factsOperatorCell{
    text-align: center;
    width: 100px;
    max-width: 100px;
}

.factsValueCell{
    text-align: left;
}*/

/*
* attributes.html
*/

.newModalButton{
    position: relative;
    top: -30px;
    left: -30px;

    float: right;
}

.searchBox{
    width: 200px;
    max-width: 200px;

    padding:10px;
    font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

/* attribute modal */

/**-- Create & edit --**/
.lineAttributeForm{
    height: 90px;
}

.lineAttributeForm label{
    width: 50px;
    position: relative;
    top: 6px;
}

.lineAttributeForm input[type="text"]{
    width: 250px;
    float: right;
}

.lineAttributeForm input[type="checkbox"]{
    width: 30px;
    height: 30px;
}

.attributeNameDiv{
    width: 300px;
    height: 35px;
}

.attributeTypeDiv{
    width: 180px;
    height: 35px;

    float: right;
    position: relative;
    top: -50px;
}

.typesSelect{
    width: 110px;

    float: right;
    position: relative;
    left: -20px;
}

.attributeQueryDiv{
    width: 300px;
    height: 35px;

    position: relative;
    top: -20px;
}

.attributeFactDiv{
    width: 180px;
    height: 35px;

    float: right;
    position: relative;
    top: -70px;
}

.attributeFactDiv label{
    top: -10px;
}

.descriptionModalContainer{
    width: 520px;
    max-width: 520px;

    max-height: 75px;

    margin-left: auto;
    margin-right: auto;
}

.descriptionTextArea{
    position: relative;
    /*top: -40px;*/

    height: 70px;
    min-height: 70px;
    width: 520px;
    max-width: 520px;
}

/**-- ReadOnly --**/
.attributeReadOnly span{
    font-size: 15px;
}

.attributeReadOnly div{
    min-width: 250px;
    width: 250px;
}

.attributeReadOnly div.right{
    float: right;
    position: relative;
    top: -26px;
}

/*---------*/

.valueDataDiv{
    min-height: 121px;
}

.btnCell{
    width: 140px;
}

.attrValueTable td{
    min-height: 50px;
    height: 50px;
    max-width: 50px;
}

/**
* SELECTS styles
*/

.operatorsSelect{
    width: 100px;
    position: relative;
    top: -34px;
    left: 210px;
}

.attributesSelect{
    width: 200px;
}

.valuesSelect{
    width: 200px;
    position: relative;
    top: -67px;
    left: 320px;
}

/**
* Fact modal
*/
.factPreviewContainer{
    width: 520px;
    min-height: 60px;
    height: 60px;

    margin-right: auto;
    margin-left: auto;
}

.factPreviewContainer ul{
    list-style-type: none;
}

/**
* Rule modal
*/
.previewContainer{
    width: 520px;
    min-height: 100px;

    margin-right: auto;
    margin-left: auto;
}

.previewContainer ul{
    list-style-type: none;
}

.ruleDescription{
    width: 520px;
    max-width: 520px;
    height: 50px;

    margin-left: auto;
    margin-right: auto;
}

.oneLineSelectForm{
    max-height: 40px;
}

.premiseForm{
    height: 75px;
    max-height: 75px;
}

.newPremiseButton{
    position: relative;
    top: 20px;
}

.premiseFormButtons{
    float: right;
}

.continousValueInput{
    width: 200px;
    position: relative;
    left: 320px;
    top: -67px;
}

.editPremiseForm{
    width: 100%;
    position: relative;
    left: -30px;
}

.premiseEditFormButtons{
    float: right;
    position: relative;
    left: 20px;
}

.errorContainer{
    min-height: 100px;
    height: 100px;
    max-height: 100px;
    width: 520px;
    max-width: 520px;

    margin-left: auto;
    margin-right: auto;
}

.errorContainer div{
    max-height: 100px;
}

.errorContainer ul{
    list-style-type: none;
}

.smallErrorContainer{
    min-height: 50px;
    height: 50px;
    max-height: 50px;
    width: 520px;
    max-width: 520px;

    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

.smallErrorContainer div{
    max-height: 50px;
}

.smallErrorContainer ul{
    list-style-type: none;
}

.modalContainer{
    width: 520px;
    max-width: 520px;

    margin-left: auto;
    margin-right: auto;
}


/**
    VERIFICATION
*/

.verificationHeading h3{
    max-width: 100%;
}

.verificationHeading h4{
    max-width: 100%;
}

.verificationTable{
    position: relative;
    top: 15px;
}

.verificationTable .orderCell{
    text-align: center;
    min-width: 100px;
    width: 10%;
    max-width: 100px;
}

.verificationTable th.rulesCell span{
    margin-left: 10px;
}

.verificationTable td.rulesCell span{
    margin-left: 15px;
}

.myTableCell{
    /*background-color: red;*/
    min-width: 100px;
}

/*------------------------------------------------*/

.testS{
    width: 350px;
}

/*
* form validation
*/

/*.myForm input.ng-invalid.ng-touched {
    background-color: #ce8483;
    border-color: #ac2925;
}

.myForm input.ng-invalid.ng-untouched {
    border-color: #ac2925;
}*/
