<!--
* Created by M. on 07.04.2016.
* Last edit: 18.07.2016 19:25
-->
<div class="viewContainer panel panel-primary">
    <div class="panel-heading">
        <h3 class="hidden-xs hidden-sm"><i class="fa fa-list-ol"></i> Attributes</h3>
        <h4 class="hidden-lg hidden-md"><i class="fa fa-list-ol"></i> Attributes</h4>
        <input type="text" class="form-control searchBox" ng-model="searchAttribute" placeholder="&#xF002; Search...">
        <button class="newButton btn btn-info" ng-click="attributes.openModal( -1, 3 )" ng-disabled="!attributes.permission">
            <i class="fa fa-plus-circle"></i> New attribute
        </button>
    </div>
    <div class="panel-body">
        <div class="tableContainer table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>No.</th>
                    <th>Attribute</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in items | filter:searchAttribute">
                    <td class="clickableCell" ng-click="attributes.openModal( item.id, 1 )">{{$index + 1}}</td>
                    <td class="clickableCell" ng-click="attributes.openModal( item.id, 1 )">{{item.name}}</td>
                    <td class="clickableCell" ng-click="attributes.openModal( item.id, 1 )">{{item.description}}</td>
                    <td class="clickableCell" ng-click="attributes.openModal( item.id, 1 )">{{item.type}}</td>
                    <td class="sideMenuCell">
                        <span class="sideMenu">
                            <i ng-click="attributes.animate($event)" class="fa fa-ellipsis-v fa-2x sideMenuDot"></i>
                            <button class="btn btn-success sideMenuButton" ng-click="attributes.editAttribute( item.id, $event )"
                                    ng-disabled="!attributes.permission">
                                <i class="fa fa-edit"></i>
                            </button>
                            <button class="btn btn-danger sideMenuButton" ng-click="attributes.deleteInfo( item.id, $event )"
                                    ng-disabled="!attributes.permission">
                                <i class="fa fa-trash-o"></i>
                            </button>
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- MODALS -->

    <div id="attributeModal" class="modal fade" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content panel panel-primary">

                <div class="panel-heading">
                    <span>
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">
                            <i ng-show="attributes.editing" class="fa fa-edit"></i>
                            <i ng-show="attributes.creating" class="fa fa-plus-circle"></i>
                            <i ng-show="!attributes.editing && !attributes.creating" class="fa fa-list-ol"></i>
                            {{attributeModalTitle}}
                        </h4>
                    </span>
                </div>
                <div class="modal-body panel-body">

                    <label>Basic data:</label>
                    <div ng-hide="attributes.editing || attributes.creating" class="modalContainer attributeReadOnly">
                        <span>
                            <div>
                                <label>Name:</label><span class="cursiveStyle"> {{attributeReadName}}</span>
                            </div>
                            <div class="right">
                                <label>Type:</label><span class="cursiveStyle"> {{attributeReadType}}</span>
                            </div>
                        </span>
                        <span>
                            <div>
                                <label>Query:</label><span class="cursiveStyle"> {{attributeReadQuery}}</span>
                            </div>
                            <div class="right">
                                <!--<label>Fact:</label><span class="cursiveStyle"> {{attributeReadFact}}</span>-->
                            </div>
                        </span>
                    </div>
                    <div ng-show="attributes.editing || attributes.creating" class="modalContainer">

                            <form class="lineAttributeForm" name="attributeForm" novalidate>
                                <div class="attributeNameDiv form-group"
                                     ng-class="{ 'has-error': attributeForm.attributeName.$invalid && attributeForm.attributeName.$pristine ||
                                 attributeForm.attributeName.$invalid && !attributeForm.attributeName.$pristine}"
                                        >

                                    <label for="attributeName">Name: </label>
                                    <input id="attributeName" name="attributeName" type="text" class="form-control" placeholder="Name"
                                           ng-model="attributeFormName" required attribute-name-directive>
                                </div>

                                <div class="attributeTypeDiv form-group">
                                    <label for="attributeType">Type: </label>
                                    <ui-select id="attributeType" ng-model="attributeTypeSelect.selected" class="typesSelect"
                                               search-enabled="false" name="attributeType" required>
                                        <ui-select-match placeholder="Type">
                                            {{$select.selected.name}}
                                        </ui-select-match>
                                        <ui-select-choices repeat=" type in types | filter: $select.search track by $index">
                                            {{type.name}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <br>
                                <div class="attributeQueryDiv form-group">
                                    <label for="attributeQuery">Query: </label>
                                    <input id="attributeQuery" class="form-control" ng-model="attributeFormQuery" type="text" placeholder="Query">
                                </div>

                                <div class="attributeFactDiv form-group" ng-hide="attributes.editing || attributes.creating">
                                    <label>Fact: </label>
                                    <input type="checkbox" ng-model="attributeFormFact">

                                </div>

                            </form>

                        <!--<form class="form-inline myForm" name="attributeForm" novalidate>
                            <div class="form-group"
                                 ng-class="{ 'has-error': attributeForm.attributeName.$invalid && attributeForm.attributeName.$pristine ||
                                 attributeForm.attributeName.$invalid && !attributeForm.attributeName.$pristine}"
                            >

                                <label for="attributeName">Name: </label>
                                <input id="attributeName" name="attributeName" type="text" class="form-control" placeholder="Name"
                                       ng-model="attributeFormName" required attribute-name-directive>
                            </div>
                            <div class="form-group">
                                <label for="attributeType">Type: </label>
                                <select id="attributeType" ng-model="attributeFormType" class="form-control">
                                    <option value="symbolic">symbolic</option>
                                    <option value="continous">continous</option>
                                    <option value="discrete">discrete</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Fact: </label>
                                <input type="checkbox" ng-model="attributeFormFact">

                            </div>
                            <div class="form-group">
                                <label for="attributeDescription">Description:</label>
                                <textarea id="attributeDescription" class="form-control descriptionTextArea"
                                          rows="3" ng-model="attributeFormDescription">

                                </textarea>
                                <input ng-model="attributeQuery" type="text" placeholder="Query...">
                                <div class="attributeNameError" ng-messages="attributeForm.attributeName.$error"
                                     ng-if="attributeForm.attributeName.$error">
                                    <p ng-message="required" ng-if="!attributeForm.attributeName.$pristine" class="panel panel-body panel-danger">
                                        Attribute name is required.</p>
                                    <p ng-if="attributeForm.attributeName.$error.attributeNameDirective" class="panel panel-body panel-danger">
                                        This attribute already exist!</p>
                                </div>
                            </div>
                        </form>-->

                    </div>

                    <label>Description:</label>
                    <div  ng-hide="attributes.editing || attributes.creating" class="previewContainer panel panel-body panel-primary">
                        <p>{{attributeReadDescription}}</p>
                    </div>
                    <div ng-show="attributes.editing || attributes.creating" class="descriptionModalContainer">
                        <textarea id="attributeDescription" class="form-control descriptionTextArea"
                                   ng-model="attributeFormDescription">

                        </textarea>
                    </div>

                    <div ng-show="attributes.editing || attributes.creating" class="errorContainer">
                        <div ng-show="attributeForm.attributeType.$invalid || attributeForm.attributeName.$invalid ||
                                values.length == 0 && attributeTypeSelect.selected.name != 'continous'"
                             class="alert alert-danger">
                            <ul>
                                <li ng-show="attributeForm.attributeType.$invalid || attributeForm.attributeName.$invalid">
                                    <label>
                                        <i class="fa fa-exclamation-circle"> Attribute needs name and type</i>
                                    </label>
                                </li>
                                <li ng-show="attributeForm.attributeName.$error.attributeNameDirective">
                                    <label>
                                        <i class="fa fa-exclamation-circle"> This attribute already exists</i>
                                    </label>
                                </li>
                                <li ng-show="values.length == 0 && attributeTypeSelect.selected.name != 'continous'">
                                    <label>
                                        <i class="fa fa-exclamation-circle"> Symbolic or discrete attribute needs at least one value</i>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="valueDataDiv" ng-hide="attributeTypeSelect.selected.name == 'continous'">
                        <label>Values: </label>
                        <table class="table attrValueTable" ng-show="!attributes.creating && !attributes.editing">
                            <thead>
                                <tr>
                                    <th class="orderCell">No.</th>
                                    <th class="nameCell">Name</th>
                                    <th class="descriptionCell">Description</th>
                                    <th class="btnCell"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="value in values">
                                    <td>{{$index + 1}}</td>
                                    <td>{{value.name}}</td>
                                    <td>{{value.description}}</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table table-hover attrValueTable" ng-show="attributes.editing || attributes.creating">
                            <thead>
                                <tr>
                                    <th class="orderCell">No.</th>
                                    <th class="nameCell">Name</th>
                                    <th class="descriptionCell">Description</th>
                                    <th class="btnCell">
                                        <button ng-hide="attributes.showForm" ng-click="attributes.showForm = true" class="btn btn-sm btn-info">
                                            <i class="fa fa-plus-circle"></i> New</button>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-show="attributes.showForm">
                                    <td class="orderCell"></td>
                                    <td class="nameCell"
                                        ng-class="{ 'has-error': newValueForm.newValueName.$invalid &&
                                        newValueForm.newValueName.$pristine || newValueForm.newValueName.$invalid &&
                                        !newValueForm.newValueName.$pristine || newValueForm.newValueName.$error.valueNameDirective}">
                                        <form name="newValueForm" novalidate>
                                            <input name="newValueName" type="text" ng-model="newValueName" placeholder="Name" class="form-control"
                                                   required value-name-directive="">
                                        </form>
                                    </td>
                                    <td class="descriptionCell">
                                        <textarea id="newValueDescription" ng-model="newValueDescription" placeholder="Description..."
                                                  class="form-control" rows="1" cols="2">

                                        </textarea>
                                    </td>
                                    <td>
                                        <button ng-click="attributes.clearValueForm();attributes.showForm = false" class="btn btn-sm btn-default">
                                            Cancel</button>
                                        <button ng-click="attributes.addValue();attributes.showForm = false" class="btn btn-sm btn-success"
                                                type="submit" ng-disabled="newValueForm.$invalid ||
                                                newValueForm.newValueName.$pending.valueNameDirective">
                                            Add</button>
                                    </td>
                                </tr>
                                <tr ng-repeat="value in values">

                                    <td class="orderCell">{{$index + 1}}</td>
                                    <td class="nameCell" ng-hide="attributes.editingValue == $index">{{value.name}}</td>
                                    <td class="nameCell" ng-show="attributes.editingValue == $index"
                                        ng-class="{ 'has-error': editValueForm.valueEditName.$error.valueNameDirective}">
                                        <form name="editValueForm" novalidate>
                                            <input id="fni{{$index}}" type="text" ng-model="valueEditName" name="valueEditName" class="form-control"
                                                   placeholder="Name..." required value-name-directive="">
                                        </form>
                                    </td>
                                    <td class="descriptionCell" ng-hide="attributes.editingValue == $index">{{value.description}}</td>
                                    <td class="descriptionCell" ng-show="attributes.editingValue == $index">
                                        <textarea id="fdi{{$index}}" ng-model="valueEditDescription" class="form-control"
                                                  placeholder="Description..." rows="1">

                                        </textarea>

                                    </td>
                                    <td class="sideMenuCell" ng-hide="attributes.editingValue == $index">
                                        <span class="sideMenu">
                                            <i ng-click="attributes.animate($event)" class="fa fa-ellipsis-v fa-2x sideMenuDot"></i>
                                            <button class="btn btn-success sideMenuButton" ng-click="attributes.editAttributeValue( $index, $event )">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                            <button class="btn btn-danger sideMenuButton" ng-click="attributes.deleteAttributeValueInfo( $index, $event )">
                                                <i class="fa fa-trash-o"></i>
                                            </button>
                                        </span>
                                    </td>
                                    <td ng-show="attributes.editingValue == $index">
                                        <button class="btn btn-sm btn-default" ng-click="attributes.editingValue = -1">Cancel</button>
                                        <button class="btn btn-sm btn-success" ng-click="attributes.changeAttributeValue($index)"
                                                ng-disabled="editValueForm.$invalid || editValueForm.valueEditName.$error.valueNameDirective
                                                || editValueForm.valueEditName.$pending.valueNameDirective">
                                            OK</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

                <div class="modal-footer">
                    <div ng-show="attributes.editing" >
                    <button class="btn btn-default" data-dismiss="modal">
                        <i class="fa fa-times fa-fw"></i> Cancel</button>
                    <button class="btn btn-success" data-dismiss="modal" ng-click="attributes.saveChanges( attributeId )"
                            ng-disabled="attributeForm.$invalid || attributeTypeSelect.selected.name != 'continous'
                            && attributes.valuesArray.length == 0 || attributeForm.attributeName.$pending.attributeNameDirective">
                        <i class="fa fa-check fa-fw"></i> Save</button>

                    </div>
                    <div ng-show="attributes.creating">
                        <button class="btn btn-default" data-dismiss="modal">
                            <i class="fa fa-times fa-fw"></i> Cancel</button>
                        <button class="btn btn-success" data-dismiss="modal" ng-click="attributes.createNewAttribute()"
                                ng-disabled="attributeForm.$invalid ||  attributeTypeSelect.selected.name != 'continous' &&
                                attributes.valuesArray.length == 0 || attributeForm.attributeName.$pending.attributeNameDirective">
                            <i class="fa fa-check fa-fw"></i> Create</button>
                    </div>
                    <div ng-hide="attributes.editing || attributes.creating">
                        <button class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>


            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="deleteModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content panel panel-danger">
                <div class="modal-header panel-heading">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title"><i class="fa fa-trash-o"></i> Deleting</h4>
                </div>
                <div class="modal-body panel-body">
                    <label>Do you want delete attribute <span class="cursiveStyle">{{deleteAttributeName}}</span>?</label>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">
                        <i class="fa fa-times fa-fw"></i> No</button>
                    <button class="btn btn-danger" data-dismiss="modal" ng-click="attributes.deleteAttribute(deleteAttributeId)">
                        <i class="fa fa-check fa-fw"></i> Yes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="deleteValueModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content panel panel-danger">
                <div class="modal-header panel-heading">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title"><i class="fa fa-trash-o"></i> Deleting</h4>
                </div>
                <div class="modal-body panel-body">
                    <label>Do you want delete this value <span class="cursiveStyle">{{deleteValueName}}</span>?</label>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">
                        <i class="fa fa-times fa-fw"></i> No</button>
                    <button class="btn btn-danger" data-dismiss="modal" ng-click="attributes.deleteAttributeValue(deleteValueIndex)">
                        <i class="fa fa-check fa-fw"></i> Yes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</div>