<!--
* Created by mrmsi on 01.04.2016.
* Last edit: 14.07.2016 11:20
-->

<div>
    <div class="viewContainer panel panel-primary">
        <div class="panel-heading verificationHeading">
            <h3 class="hidden-xs hidden-sm"><i class="fa fa-check-square-o"></i> Visualisation of {{inferenceBaseName}}</h3>
            <h4 class="hidden-lg hidden-md"><i class="fa fa-check-square-o"></i> Visualisation of {{inferenceBaseName}}</h4>
        </div>

        <div class="panel-body" >

            <h2>Wizualizacja - Visualisation</h2>
            <p>{{info}}</p>
            <h4>Charlie, you're Banana King!</h4>
        </div>

    </div>

    <!-- MODALS -->



</div>
