<!--
* Created by M. on 01.04.2016.
* Last edit: 14.07.2016 11:20
-->

<diV class="viewContainer panel panel-primary">


    <div class="panel-heading">
        <h3 class="hidden-xs hidden-sm"><i class="fa fa-database"></i> {{base.currentBase.name}}</h3>
        <h4 class="hidden-lg hidden-md"><i class="fa fa-database"></i> {{base.currentBase.name}}</h4>

        <div class="baseFunction ">
            <ul class="nav nav-pills pull-right">

                <li class="baseFunction hidden-xs hidden-sm" ng-click="base.shareModal(false, -1)" ng-hide="!base.sharePermission"
                    data-toggle="tooltip" data-placement="left" title="Share">
                    <a>
                        <i class="fa fa-share-alt fa-3x"></i>
                    </a>
                </li>
                <li class="baseFunctionDisabled hidden-xs hidden-sm" ng-show="!base.sharePermission"
                    data-toggle="tooltip" data-placement="left" title="Share">
                    <a>
                        <i class="fa fa-share-alt fa-3x"></i>
                    </a>
                </li>


                <li class="baseFunction hidden-xs hidden-sm"
                    data-toggle="tooltip" data-placement="left" title="Visualisation">
                    <a ui-sref="visualisation">
                        <i class="fa fa-puzzle-piece fa-3x"></i>
                    </a>
                </li>

                <li class="baseFunction hidden-xs hidden-sm"
                    data-toggle="tooltip" data-placement="left" title="Inference">
                    <a ui-sref="inference">
                        <i class="fa fa-retweet fa-3x"></i>
                    </a>
                </li>

                <li class="baseFunction hidden-xs hidden-sm"
                    data-toggle="tooltip" data-placement="left" title="Verification">
                    <a ui-sref="verification">
                        <i class="fa fa-check-square-o fa-3x"></i>
                    </a>
                </li>

                <li class="baseFunction hidden-xs hidden-sm" ng-click="base.editModal()" ng-hide="!base.permission"
                    data-toggle="tooltip" data-placement="left" title="Edit">
                    <a>
                        <i class="fa fa-edit fa-3x"></i>
                    </a>
                </li>
                <li class="baseFunctionDisabled hidden-xs hidden-sm" ng-show="!base.permission"
                    data-toggle="tooltip" data-placement="left" title="Edit">
                    <a>
                        <i class="fa fa-edit fa-3x"></i>
                    </a>
                </li>

                <li class="baseFunctionDisabled hidden-xs hidden-sm"
                    data-toggle="tooltip" data-placement="left" title="Export"><!--<li class="baseFunction hidden-xs hidden-sm">-->
                    <a>
                        <i class="fa fa-arrow-circle-o-down fa-3x"></i>
                    </a>
                </li>

                <li class="baseFunction hidden-xs hidden-sm" ng-click="base.deleteInfo()" ng-hide="!base.permission"
                    data-toggle="tooltip" data-placement="left" title="Delete">
                    <a>
                        <i class="fa fa-trash-o fa-3x"></i>
                    </a>
                </li>
                <li class="baseFunctionDisabled hidden-xs hidden-sm" ng-show="!base.permission"
                    data-toggle="tooltip" data-placement="left" title="Delete">
                    <a>
                        <i class="fa fa-trash-o fa-3x"></i>
                    </a>
                </li>

                <li class="baseFunction dropdown visible-xs visible-sm">
                        <a id="dLabel" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-navicon fa-3x"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel">
                            <li class="baseFunction" ng-click="base.shareModal(false, -1)" ng-hide="!base.sharePermission">
                                <a>
                                    <i class="fa fa-share-alt fa-2x"></i>
                                    <label> Share</label>
                                </a>
                            </li>
                            <li class="baseFunctionDisabled" ng-show="!base.sharePermission">
                                <a>
                                    <i class="fa fa-share-alt fa-2x"></i>
                                    <label> Share</label>
                                </a>
                            </li>


                            <li class="baseFunction">
                                <a ui-sref="visualisation">
                                    <i class="fa fa-puzzle-piece fa-2x"></i>
                                    <label>Visualisation</label>
                                </a>
                            </li>

                            <li class="baseFunction">
                                <a ui-sref="inference">
                                    <i class="fa fa-retweet fa-2x"></i>
                                    <label>Inference</label>
                                </a>
                            </li>

                            <li class="baseFunction">
                                <a ui-sref="verification">
                                    <i class="fa fa-check-square-o fa-2x"></i>
                                    <label>Verification</label>
                                </a>
                            </li>

                            <li class="baseFunction" ng-click="base.editModal()" ng-hide="!base.permission">
                                <a>
                                    <i class="fa fa-edit fa-2x"></i>
                                    <label>Edit</label>
                                </a>
                            </li>
                            <li class="baseFunctionDisabled" ng-show="!base.permission">
                                <a>
                                    <i class="fa fa-edit fa-2x"></i>
                                    <label>Edit</label>
                                </a>
                            </li>

                            <li class="baseFunctionDisabled"><!--<li class="baseFunction">-->
                                <a>
                                    <i class="fa fa-arrow-circle-o-down fa-2x"></i>
                                    <label>Export</label>
                                </a>
                            </li>

                            <li class="baseFunction" ng-click="base.deleteInfo()" ng-hide="!base.permission">
                                <a>
                                    <i class="fa fa-trash-o fa-2x"></i>
                                    <label>Delete</label>
                                </a>
                            </li>
                            <li class="baseFunctionDisabled" ng-show="!base.permission">
                                <a>
                                    <i class="fa fa-trash-o fa-2x"></i>
                                    <label>Delete</label>
                                </a>
                            </li>
                        </ul>
                </li>

            </ul>
        </div>

        <h5>Owner: {{base.currentBase.owner.firstName}} {{base.currentBase.owner.lastName}}</h5>
    </div>

    <div class="panel-body">

        <div class="panel panel-default panel-heading">
            <h4>Description:</h4>
            <p>{{base.currentBase.description}}</p>
        </div>

        <div class="permissionAlert">
            <div ng-hide="base.permission" class="alert alert-info">
                <label>
                    You have readOnly access to this base. You can't provide any changes to this base.
                </label>
            </div>
        </div>

        <ul class="nav nav-pills pull-left">
            <li class="baseElement" ng-click="base.showFacts()">
                <h4>Facts</h4>
                <span><label>{{numF}}</label></span>
            </li>
            <li class="baseElement" ng-click="base.showRules()">
                <h4>Rules</h4>
                <span><label>{{numR}}</label></span>
            </li>
            <li class="baseElement" ng-click="base.showAttributes()">
                <h4>Attributes</h4>
                <span><label>{{numA}}</label></span>
            </li>
        </ul>

        <div class="shareTableContainer table-responsive">
            <h4>Shared with:</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th class="shareTable shareId-Permission">No.</th>
                        <th class="shareTable shareName">User</th>
                        <th class="shareTable shareId-Permission">Permission</th>
                        <th class="sideMenuCell"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="share in shares">
                        <td class="shareTable shareIndexCell">{{$index + 1}}</td>
                        <td class="shareTable shareUserCell">{{share.user.login}}</td>
                        <td class="shareTable sharePermissionCell">{{share.permision}}</td>
                        <td class="sideMenuCell">
                            <span class="sideMenu">
                                <i ng-click="base.animate($event)" class="fa fa-ellipsis-v fa-2x sideMenuDot"></i>
                                <button class="btn btn-success sideMenuButton" ng-click="base.editShare( $event, true, share.id)"
                                        ng-disabled="!base.permission || !base.sharePermission">
                                    <i class="fa fa-edit"></i>
                                </button>
                                <button class="btn btn-danger sideMenuButton" ng-click="base.deleteShareInfo($event, share.id, share.user.login)"
                                        ng-disabled="!base.permission || !base.sharePermission">
                                    <i class="fa fa-trash-o"></i>
                                </button>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <!-- TOOLTIPS -->

    <!-- MODALS -->
    <div id="baseModal" class="modal fade" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content panel panel-primary">
                <div class="modal-header panel-heading">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">
                        <i class="fa fa-edit"></i>
                        Editing
                    </h4>
                </div>
                <div class="modal-body panel-body">

                    <div class="modalContainer form-group">
                        <form class="form-horizontal myForm" name="baseForm" novalidate>
                            <div class="" ng-class="{ 'has-error': baseForm.baseName.$invalid && baseForm.baseName.$pristine ||
                                baseForm.baseName.$invalid && !baseForm.baseName.$pristine || baseForm.baseName.$error.baseNameDirective2}">
                                <label for="baseName">Name:</label>
                                <input id="baseName" name="baseName" type="text" class="form-control" placeholder="Name"
                                       ng-model="baseName" required base-name-directive-2="">
                            </div>
                        </form>
                    </div>

                    <div class="smallErrorContainer">
                        <div ng-show="baseForm.baseName.$invalid && baseForm.baseName.$pristine ||
                                baseForm.baseName.$invalid && !baseForm.baseName.$pristine || baseForm.baseName.$error.baseNameDirective2"
                             class="alert alert-danger">
                            <ul>
                                <li ng-show="baseForm.baseName.$error.baseNameDirective2">
                                    <label>
                                        <i class="fa fa-exclamation-circle"> This name is already taken</i>
                                    </label>
                                </li>
                                <li ng-messages="baseForm.baseName.$error" ng-show="!baseForm.baseName.$pristine">
                                    <label ng-message="required">
                                        <i class="fa fa-exclamation-circle"> Base name is required.</i>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="modalContainer form-group">
                        <label for="baseDescription">Description:</label>
                        <textarea id="baseDescription" class="form-control" ng-model="baseDescription" rows="4" placeholder="Description">

                        </textarea>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">
                        <i class="fa fa-times fa-fw"></i> Cancel</button>
                    <button class="btn btn-success" ng-click="base.editBase(editPositionId, editPositionIndex)"
                            ng-disabled="baseForm.$invalid || baseForm.baseName.$pending.baseNameDirective2">
                        <i class="fa fa-check fa-fw"></i> Save</button>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="deleteModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content panel panel-danger">
                <div class="modal-header panel-heading">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title"><i class="fa fa-trash-o"></i> Deleting</h4>
                </div>
                <div class="modal-body panel-body">
                    <label>Do you want delete <span class="cursiveStyle">{{deletePositionName}}?</span></label>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">
                        <i class="fa fa-times fa-fw"></i> No</button>
                    <button class="btn btn-danger" data-dismiss="modal" ng-click="base.deleteBase()">
                        <i class="fa fa-check fa-fw"></i> Yes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="deleteShareModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content panel panel-danger">
                <div class="modal-header panel-heading">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title"><i class="fa fa-trash-o"></i> Deleting</h4>
                </div>
                <div class="modal-body panel-body">
                    <label>Do you want delete <span class="cursiveStyle">{{shareUserName}}</span> access to {{$baseData.name}}?</label>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">
                        <i class="fa fa-times fa-fw"></i> No</button>
                    <button class="btn btn-danger" data-dismiss="modal" ng-click="base.deleteShare(deleteShareId)">
                        <i class="fa fa-check fa-fw"></i> Yes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="shareModal" class="modal fade" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content panel panel-primary">

                <div class="modal-header panel-heading">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">
                        <i ng-show="base.shareEditing" class="fa fa-edit"></i>
                        <i ng-hide="base.shareEditing" class="fa fa-plus-circle"></i>
                        {{shareModalTitle}}
                    </h4>
                </div>

                <div class="modal-body panel-body">
                    <label>Permission:</label>
                    <div class="modalContainer">
                        <form name="shareForm1">
                            <ui-select ng-model="sharePermissionsSelect.selected" search-enabled="false" required>
                                <ui-select-match placeholder="Permissions...">
                                    {{$select.selected.name}}
                                </ui-select-match>
                                <ui-select-choices repeat="permission in sharePermissions">
                                    {{permission.name}}
                                </ui-select-choices>
                            </ui-select>
                        </form>
                    </div>

                    <label>User:</label>
                    <div class="modalContainer">
                        <form name="shareForm2">
                            <ui-select ng-model="shareUsersSelect.selected" on-select="base.validateShare($select.selected)" required>
                                <ui-select-match placeholder="Users...">
                                    {{$select.selected.login}}
                                </ui-select-match>
                                <ui-select-choices repeat=" user in users | filter: $select.search track by $index">
                                    {{user.login}}
                                </ui-select-choices>
                            </ui-select>
                        </form>
                    </div>

                    <br>
                    <div class="errorContainer">
                        <div ng-show="shareForm1.$invalid || shareForm2.$invalid || base.shareExists"
                             class="alert alert-danger">
                            <ul>
                                <li ng-show="shareForm1.$invalid">
                                    <label>
                                        <i class="fa fa-exclamation-circle"> Select permission to share base access</i>
                                    </label>
                                </li>
                                <li ng-show="shareForm2.$invalid">
                                    <label>
                                        <i class="fa fa-exclamation-circle"> Select user to share base access</i>
                                    </label>
                                </li>
                                <li ng-show="base.shareExists">
                                    <label>
                                        <i class="fa fa-exclamation-circle"> This user already has access to this base</i>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

                <div class="modal-footer panel-footer">
                    <div ng-show="base.shareEditing">
                        <button class="btn btn-default" data-dismiss="modal">
                            <i class="fa fa-times fa-fw"></i> Cancel</button>
                        <button class="btn btn-success" ng-disabled="shareForm1.$invalid || shareForm2.$invalid || base.shareExists"
                                ng-click="base.saveShareChanges(currentShareId)">
                            <i class="fa fa-check fa-fw"></i> Save</button>
                    </div>
                    <div ng-hide="base.shareEditing">
                        <button class="btn btn-default" data-dismiss="modal">
                            <i class="fa fa-times fa-fw"></i> Cancel</button>
                        <button class="btn btn-success" ng-disabled="shareForm1.$invalid || shareForm2.$invalid || base.shareExists"
                                ng-click="base.createShare()">
                            <i class="fa fa-check fa-fw"></i> Create</button>
                    </div>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="baseMask" class="baseMask" ng-show="base.maskShow">
        <div>
            <i class="fa fa-spinner fa-pulse fa-5x"></i>
            <h3>Pleas wait...</h3>
        </div>
    </div>

</diV>

