<!--
* Created by M. on 07.04.2016.
* Last edit: 14.07.2016 11:20
-->
<div class="viewContainer panel panel-primary">
    <div class="panel-heading">
        <h3 class="hidden-xs hidden-sm"><i class="fa fa-list-ol"></i> Facts</h3>
        <h4 class="hidden-lg hidden-md"><i class="fa fa-list-ol"></i> Facts</h4>
        <input type="text" class="form-control searchBox" ng-model="searchFact" placeholder="&#xF002; Search...">
        <button class="newButton btn btn-info" ng-click="facts.openModal(false, true, -1)" ng-disabled="!facts.permission">
            <i class="fa fa-plus-circle"></i> New fact
        </button>
    </div>
    <div class="panel-body">
        <div class="tableContainer table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="factsIndexCell">No.</th>
                        <th class="factCell">Fact</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in items | filter:searchFact">
                        <td class="clickableCell factsIndexCell" ng-click="facts.openModal(false, false, item.id)">{{$index+1}}</td>
                        <td class="clickableCell factCell" ng-click="facts.openModal(false, false, item.id)">
                            <span>
                                <span>{{item.attribute.name}} </span>
                                <span>{{item.operator}} </span>
                                <span ng-hide="item.attribute.type == 'continous'">{{item.value.name}}</span>
                                <span ng-show="item.attribute.type == 'continous'">{{item.continousValue}}</span>
                            </span>
                        </td>
                        <td class="sideMenuCell">
                            <span class="sideMenu">
                            <i ng-click="facts.animate($event)" class="fa fa-ellipsis-v fa-2x sideMenuDot"></i>
                            <button class="btn btn-success sideMenuButton" ng-click="facts.editFact( item.id, $event )"
                                    ng-disabled="!facts.permission">
                                <i class="fa fa-edit"></i>
                            </button>
                            <button class="btn btn-danger sideMenuButton" ng-click="facts.deleteInfo( item.id )"
                                    ng-disabled="!facts.permission">
                                <i class="fa fa-trash-o"></i>
                            </button>
                        </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- MODALS -->

    <div id="factModal" class="modal fade" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content panel panel-primary">

                <div class="panel-heading">
                    <span>
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">
                            <i ng-show="facts.editing" class="fa fa-edit"></i>
                            <i ng-show="facts.creating" class="fa fa-plus-circle"></i>
                            <i ng-hide="facts.editing || facts.creating" class="fa fa-list-ol"></i>
                            {{factModalTitle}}
                        </h4>
                    </span>
                </div>

                <div class="modal-body panel-body">
                    <label>Preview:</label>
                    <div ng-hide="facts.editing || facts.creating" class="factPreviewContainer panel panel-body panel-primary">
                        <ul>
                            <li>
                                <span>
                                    <label>{{attributePreview}}</label>
                                </span>
                                <span>
                                    <label>{{operatorPreview}}</label>
                                </span>
                                <span>
                                    <label>{{valuePreview}}</label>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div ng-show="facts.editing || facts.creating" class="factPreviewContainer panel panel-body panel-primary">
                        <ul>
                            <li>
                                <span>
                                    <span>
                                        <label>{{attributesSelect.selected.name}} </label>
                                    </span>
                                    <span>
                                        <label>{{facts.setOperatorString(operatorsSelect.selected.name)}} </label>
                                    </span>
                                    <span>
                                        <label ng-hide="attributesSelect.selected.type == 'continous'">{{valuesSelect.selected.name}}</label>
                                        <label ng-show="attributesSelect.selected.type == 'continous'">{{continousValue}} </label>
                                    </span>
                                </span>
                            </li>
                        </ul>
                    </div>

                    <label ng-show="facts.editing || facts.creating">Fact:</label>
                    <div ng-show="facts.editing || facts.creating" class="modalContainer">

                        <form data-editable-form name="factForm" class="oneLineSelectForm">
                            <!--<label>Attribute:</label>-->
                            <ui-select ng-model="attributesSelect.selected" on-select="facts.setValues($select.selected)"
                                    required class="attributesSelect">
                                <ui-select-match placeholder="Attribute">
                                    {{$select.selected.name}}
                                </ui-select-match>
                                <ui-select-choices repeat=" attribute in attributes | filter: $select.search track by $index">
                                    {{attribute.name}}
                                </ui-select-choices>
                            </ui-select>

                            <!--<label>Operator:</label>-->
                            <ui-select ng-model="operatorsSelect.selected" on-select=""
                                       ng-required="!facts.attributeIsContinous ||
                                        facts.attributeIsContinous && !facts.continousValue.$pristine"
                                       search-enabled="false" class="operatorsSelect">
                                <ui-select-match placeholder="Operator">
                                    {{$select.selected.name}}
                                </ui-select-match>
                                <ui-select-choices repeat=" operator in operators | filter: $select.search track by $index">
                                    {{operator.name}}
                                </ui-select-choices>
                            </ui-select>

                            <!--<label>Value:</label>-->
                            <ui-select ng-model="valuesSelect.selected" on-select=""
                                       ng-required="!facts.attributeIsContinous" ng-disabled="facts.attributesSelect.selected == {}"
                                       ng-hide="facts.attributeIsContinous" class="valuesSelect">
                                <ui-select-match placeholder="Value">
                                    {{$select.selected.name}}
                                </ui-select-match>
                                <ui-select-choices repeat=" value in values | filter: $select.search track by $index">
                                    {{value.name}}
                                </ui-select-choices>
                            </ui-select>

                            <input type="text" placeholder="Value" ng-show="facts.attributeIsContinous" ng-model="continousValue"
                                    class="form-control valuesSelect">

                        </form>
                    </div>
                    <div ng-show="facts.editing || facts.creating" class="errorContainer">
                        <div ng-show="facts.factConflict || factForm.$invalid" class="alert alert-danger">
                           <ul>
                               <li ng-show="facts.factConflict">
                                   <label>
                                       <i class="fa fa-exclamation-circle"> This fact already exists</i>
                                   </label>
                               </li>
                               <li ng-show="factForm.$invalid">
                                   <label>
                                       <i class="fa fa-exclamation-circle"> Fact must be complete</i>
                                   </label>
                               </li>
                           </ul>
                        </div>
                    </div>
                </div>

                <div class="modal-footer panel-footer">
                    <div ng-show="facts.creating">
                        <button class="btn btn-default" data-dismiss="modal">
                            <i class="fa fa-times fa-fw"></i> Cancel</button>
                        <button class="btn btn-success" ng-disabled="factForm.$invalid || facts.validateFact()"
                                ng-click="facts.createNewFact()">
                            <i class="fa fa-check fa-fw"></i> Create</button>
                    </div>
                    <div ng-show="facts.editing">
                        <button class="btn btn-default" data-dismiss="modal">
                            <i class="fa fa-times fa-fw"></i> Cancel</button>
                        <button class="btn btn-success" ng-disabled="factForm.$invalid || facts.validateFact()"
                                ng-click="facts.saveChanges()">
                            <i class="fa fa-check fa-fw"></i> Save</button>
                    </div>
                    <div ng-hide="facts.editing || facts.creating">
                        <button class="btn btn-default" data-dismiss="modal">
                            Close</button>
                    </div>
                </div>


            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="deleteModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content panel panel-danger">
                <div class="modal-header panel-heading">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title"><i class="fa fa-trash-o"></i> Deleting</h4>
                </div>
                <div class="modal-body panel-body">
                    <label>Do you want delete this fact?</span></label>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">
                        <i class="fa fa-times fa-fw"></i> No</button>
                    <button class="btn btn-danger" data-dismiss="modal" ng-click="facts.deleteFact(deleteFactId)">
                        <i class="fa fa-check fa-fw"></i> Yes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</div>