<!--
* Created by M. on 01.04.2016.
* Last edit: 14.07.2016 11:20
-->


<diV>
    <div class="viewContainer panel panel-primary">
        <div class="panel-heading">
            <h3 class="hidden-xs hidden-sm"><i class="fa fa-home"></i> Knowledge Bases</h3>
            <h4 class="hidden-lg hidden-md"><i class="fa fa-home"></i> Knowledge Bases</h4>
            <button class="newButton btn btn-info" ng-click="home.createModal()">
                <i class="fa fa-plus-circle"></i>
                New base
            </button>
            <!--<button ng-click="home.test()">Click</button>-->
        </div>

        <div class="tableContainer panel-body table-responsive">
            <table class="table table-hover">

                <thead class="panel-heading">
                    <tr>
                        <th class="orderCell">No.</th>
                        <th class="nameCell">Name</th>
                        <th class="descriptionCell hidden-xs hidden-sm">Description</th>
                        <th class="sideMenuCell"></th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="base in bases">
                        <td class="orderCell" ng-click="home.openBase(base.id)">{{$index + 1}}</td>
                        <td class="nameCell" ng-click="home.openBase(base.id)">{{base.name}}</td>
                        <td class="descriptionCell hidden-xs hidden-sm" ng-click="home.openBase(base.id)">{{base.description}}</td>
                        <td class="sideMenuCell">
                            <span class="sideMenu">
                                <i ng-click="home.animate($event)" class="fa fa-ellipsis-v fa-2x sideMenuDot"></i>
                                <button class="btn btn-success sideMenuButton" ng-click="home.editModal($event, $index)">
                                    <i class="fa fa-edit"></i>
                                </button>
                                <button class="btn btn-danger sideMenuButton" ng-click="home.deleteInfo($event, base.name, base.id, $index)">
                                    <i class="fa fa-trash-o"></i>
                                </button>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <!-- MODALS -->

    <div id="baseModal" class="modal fade" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content panel panel-primary">

                <div class="modal-header panel-heading">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">
                        <i ng-show="!home.isCreate()" class="fa fa-edit"></i>
                        <i ng-show="home.isCreate()" class="fa fa-plus-circle"></i>
                        {{modalTitle}}
                    </h4>
                </div>

                <div class="modal-body panel-body">

                    <div class="modalContainer form-group">
                        <form class="form-horizontal myForm" name="baseForm" novalidate>
                            <div ng-class="{ 'has-error': baseForm.baseName.$invalid && baseForm.baseName.$pristine ||
                                baseForm.baseName.$invalid && !baseForm.baseName.$pristine || baseForm.baseName.$error.baseNameDirective}">
                                <label for="baseName">Name:</label>
                                <input id="baseName" name="baseName" type="text" class="form-control" placeholder="Name"
                                       ng-model="baseName" required base-name-directive="">
                            </div>
                        </form>
                    </div>

                    <div class="smallErrorContainer">
                        <div ng-show="baseForm.baseName.$invalid && baseForm.baseName.$pristine ||
                                baseForm.baseName.$invalid && !baseForm.baseName.$pristine || baseForm.baseName.$error.baseNameDirective"
                             class="alert alert-danger">
                            <ul>
                                <li ng-show="baseForm.baseName.$error.baseNameDirective">
                                    <label>
                                        <i class="fa fa-exclamation-circle"> This name is already taken</i>
                                    </label>
                                </li>
                                <li ng-messages="baseForm.baseName.$error" ng-show="!baseForm.baseName.$pristine || (baseForm.baseName.$invalid && baseForm.baseName.$pristine)">
                                    <label ng-message="required">
                                        <i class="fa fa-exclamation-circle"> Base name is required.</i>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="modalContainer form-group">
                        <label for="baseDescription">Description:</label>
                        <textarea id="baseDescription" class="form-control" ng-model="baseDescription" rows="4" placeholder="Description">

                        </textarea>
                    </div>

                </div>

                <div class="modal-footer">
                    <div ng-hide="home.isCreate()">
                        <button class="btn btn-default" data-dismiss="modal">
                            <i class="fa fa-times fa-fw"></i> Cancel</button>
                        <button class="btn btn-success" ng-click="home.editBase(editPositionId, editPositionIndex)"
                                ng-disabled="baseForm.$invalid || baseForm.baseName.$pending.baseNameDirective">
                            <i class="fa fa-check fa-fw"></i> Save</button>
                    </div>
                    <div ng-show="home.isCreate()">
                        <button class="btn btn-default" data-dismiss="modal">
                            <i class="fa fa-times fa-fw"></i> Cancel</button>
                        <button class="btn btn-success" type="submit" ng-click="home.createBase()"
                                ng-disabled="baseForm.$invalid || baseForm.baseName.$pending.baseNameDirective">
                            <i class="fa fa-check fa-fw"></i> Create</button>
                    </div>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="deleteModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content panel panel-danger">
                <div class="modal-header panel-heading">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title"><i class="fa fa-trash-o"></i> Deleting</h4>
                </div>
                <div class="modal-body panel-body">
                    <label>Do you want delete <span class="cursiveStyle">{{deletePositionName}}?</span></label>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">
                        <i class="fa fa-times fa-fw"></i> No</button>
                    <button class="btn btn-danger" data-dismiss="modal" ng-click="home.deleteBase(deletePositionIndex, deletePositionId)">
                        <i class="fa fa-check fa-fw"></i> Yes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


</diV>


