<!--
* Created by M. on 16.07.2016.
* Last edit: 16.07.2016 23:55
-->


<div>
    <div class="viewContainer panel panel-primary">
        <div class="panel-heading verificationHeading">
            <h3 class="hidden-xs hidden-sm"><i class="fa fa-check-square-o"></i> Inference of {{inferenceBaseName}}</h3>
            <h4 class="hidden-lg hidden-md"><i class="fa fa-check-square-o"></i> Inference of {{inferenceBaseName}}</h4>
        </div>

        <div class="panel-body" >

            <h2>Wnioskowanie - Inference</h2>
        </div>

    </div>

    <!-- MODALS -->



</div>