<!--
* Created by M. on 01.04.2016.
* Last edit: 12.09.2016 15:25
-->

<div class="container">

    <div class="jumbotron mainJumbotron panel panel-primary">
        <h1>Welcome in KbExplorer project!</h1>
        <p>The KbExplorator is a web application for managing knowledge bases via web browser.
            It gives you acces to the bases, possibility to edit rules, facts and attributes.
            Your knowledge bases are in iur data base, so you have access to them from any place, a
            ny device, any browser. You can also share your bases with other users or download them to XML format.
        </p>
        <p>Just sign up and start working with us.</p>
        <p><span style="float: right">
            <button class="btn btn-info" ng-click="login.registerUser()">
                <i class="fa fa-user-plus"></i> Sign up
            </button>

            <button class="btn btn-primary" ng-click="login.loginUser()">
                <i class="fa fa-sign-in"></i> Sign in
            </button></span>
        </p>
    </div>

</div>

