<!--
* Created by M. on 12.09.2016.
* Last edit: 12.09.2016 15:15
-->

<diV>
    <div class="viewContainer panel panel-primary">
        <div class="panel-heading">
            <h3 class="hidden-xs hidden-sm"><i class="fa fa-user-plus"></i> Registration</h3>
            <h4 class="hidden-lg hidden-md"><i class="fa fa-user-plus"></i> Registration</h4>
        </div>

        <div class="panel-body">
            <form name="registrationForm" role="form" novalidate class="registrationForm">
                <div class="form-group">
                    <label >Login*:</label>
                    <input type="text" name="login" ng-model="login" placeholder="mylogin" class="form-control"
                           ng-minlength=1 ng-maxlength=50 ng-pattern="/^[a-z0-9]*$/" required>
                </div>

                <div ng-show="registrationForm.login.$dirty && registrationForm.login.$invalid">
                    <p class="help-block"
                       ng-show="registrationForm.login.$error.required" >
                        Your login is required.
                    </p>
                    <p class="help-block"
                       ng-show="registrationForm.login.$error.minlength" >
                        Your login is required to be at least 1 character.
                    </p>
                    <p class="help-block"
                       ng-show="registrationForm.login.$error.maxlength" >
                        Your login cannot be longer than 50 characters.
                    </p>
                    <p class="help-block"
                       ng-show="registrationForm.login.$error.pattern" >
                        Your login can only contain lower-case letters and digits.
                    </p>
                </div>
                <div class="form-group">
                    <label >E-mail*:</label>
                    <input type="email" name="email" ng-model="email" placeholder="me@example.com" class="form-control"
                        ng-pattern="/^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.{1}[a-zA-Z]+(\.[a-zA-Z])*$/" ng-minlength=5 ng-maxlength=100 required>
                </div>

                <div ng-show="registrationForm.email.$dirty && registrationForm.email.$invalid">
                    <p class="help-block"
                       ng-show="registrationForm.email.$error.required" >
                        Your e-mail is required.
                    </p>
                    <p class="help-block"
                       ng-show="registrationForm.email.$invalid" >
                        Your e-mail format is invalid.
                    </p>
                    <p class="help-block"
                       ng-show="registrationForm.email.$error.minlength" >
                        Your e-mail is required to be at least 5 characters.
                    </p>
                    <p class="help-block"
                       ng-show="registrationForm.email.$error.maxlength" >
                        Your e-mail cannot be longer than 100 characters.
                    </p>
                </div>

                <div class="form-group">
                    <label >Password*:</label>
                    <input type="password" name="password" ng-model="password" placeholder="Password" class="form-control"
                           ng-minlength=5 ng-maxlength=50 required>
                </div>

                <div ng-show="registrationForm.password.$dirty && registrationForm.password.$invalid">
                    <p class="help-block"
                       ng-show="registrationForm.password.$error.required" >
                        Your password is required.
                    </p>
                    <p class="help-block"
                       ng-show="registrationForm.password.$error.minlength" >
                        Your password is required to be at least 5 characters.
                    </p>
                    <p class="help-block"
                       ng-show="registrationForm.password.$error.maxlength" >
                        Your password cannot be longer than 50 characters.
                    </p>
                </div>


                <div class="form-group">
                    <label >Password confirmation*:</label>
                    <input type="password" name="confirmPassword" ng-model="confirmPassword" placeholder="Password" class="form-control"
                           ng-minlength=5 ng-maxlength=50 required password-directive="">
                </div>

                <div ng-show="registrationForm.confirmPassword.$dirty && registrationForm.confirmPassword.$invalid">
                    <p class="help-block"
                       ng-show="registrationForm.confirmPassword.$error.required" >
                        Your confirmation password is required.
                    </p>
                    <p class="help-block"
                       ng-show="registrationForm.confirmPassword.$error.minlength" >
                        Your confirmation password is required to be at least 5 characters.
                    </p>
                    <p class="help-block"
                       ng-show="registrationForm.confirmPassword.$error.maxlength" >
                        Your confirmation password cannot be longer than 50 characters.
                    </p>
                    <p class="help-block" ng-show="registrationForm.confirmPassword.$error.passwordDirective">
                        Your passwords are different.
                    </p>
                </div>

                <!--<div class="form-group">
                    <label >First name*:</label>
                    <input type="text" name="firstName" ng-model="firstName" placeholder="First name" class="form-control"
                           required>
                </div>

                <div ng-show="registrationForm.firstName.$dirty && registrationForm.firstName.$invalid">
                    <p ng-show="registrationForm.firstName.$error.required">
                        Your first name is required.
                    </p>
                </div>

                <div class="form-group">
                    <label >Last name*:</label>
                    <input type="text" name="lastName" ng-model="lastName" placeholder="Last name" class="form-control"
                           required>
                </div>

                <div ng-show="registrationForm.lastName.$dirty && registrationForm.lastName.$invalid">
                    <p ng-show="registrationForm.lastName.$error.required">
                        Your last name is required.
                    </p>
                </div>-->

                <button class="btn btn-primary registrationButton"
                        ng-disabled="registrationForm.$invalid || registrationForm.confirmPassword.$error.passwordDirective ||
                    registrationForm.confirmPassword.$pending.passwordDirective" ng-click="registration.register()">
                    Register
                </button>
            </form>

            <!--<button class="btn btn-primary registrationButton"
                    ng-disabled="registrationForm.$invalid || registrationForm.confirmPassword.$error.passwordDirective ||
                    registrationForm.confirmPassword.$pending.passwordDirective" ng-click="registration.register()">
                Register
            </button>-->

        </div>
    </div>
</diV>