<!--
* Created by M. on 07.04.2016.
* Last edit: 14.07.2016 11:20
-->
<div class="viewContainer panel panel-primary">
    <div class="panel-heading">
        <h3 class="hidden-xs hidden-sm"><i class="fa fa-list-ol"></i> Rules</h3>
        <h4 class="hidden-lg hidden-md"><i class="fa fa-list-ol"></i> Rules</h4>
        <input type="text" class="form-control searchBox" ng-model="searchRule" placeholder="&#xF002; Search...">
        <button class="newButton btn btn-info" ng-click="rules.openModal( false, true, -1, -1 )" ng-disabled="!rules.permission">
            <i class="fa fa-plus-circle"></i> New rule
        </button>
    </div>
    <div class="panel-body">
        <div class="tableContainer table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>No.</th>
                    <th>Rule</th>
                    <th>Description</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in items | filter:searchRule track by $index">
                    <td class="clickableCell" ng-click="rules.openModal( false, false, item.id, $index )">{{$index + 1}}</td>
                    <td class="clickableCell" ng-click="rules.openModal( false, false, item.id, $index )">{{item.rule}}</td>
                    <td class="clickableCell" ng-click="rules.openModal( false, false, item.id, $index )">{{item.description}}</td>
                    <td class="sideMenuCell">
                        <span class="sideMenu">
                            <i ng-click="rules.animate($event)" class="fa fa-ellipsis-v fa-2x sideMenuDot"></i>
                            <button class="btn btn-success sideMenuButton" ng-click="rules.editRule( true, false, item.id, $index, $event )"
                                    ng-disabled="!rules.permission">
                                <i class="fa fa-edit"></i>
                            </button>
                            <button class="btn btn-danger sideMenuButton" ng-click="rules.deleteInfo( item.id, $index, $event )"
                                    ng-disabled="!rules.permission">
                                <i class="fa fa-trash-o"></i>
                            </button>
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- MODALS -->

    <div id="ruleModal" class="modal fade" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content panel panel-primary">

                <div class="panel-heading">
                    <span>
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title">
                            <i ng-show="rules.editing" class="fa fa-edit"></i>
                            <i ng-show="rules.creating" class="fa fa-plus-circle"></i>
                            <i ng-hide="rules.editing || rules.creating" class="fa fa-list-ol"></i>
                            {{ruleModalTitle}}
                        </h4>
                    </span>
                </div>

                <div class="modal-body panel-body">
                    <label>Preview:</label>
                    <br>
                    <div ng-hide="rules.editing || rules.creating" class="previewContainer panel panel-body panel-primary">
                        <ul>
                            <li ng-repeat="ruleItem in ruleItems track by $index">
                                <span>
                                    <span>{{ruleItem.attribute.name}}</span>
                                    {{rules.setOperatorString(ruleItem.operator)}}
                                    <span ng-hide="ruleItem.attribute.type == 'continous'">{{ruleItem.value.name}}</span>
                                    <span ng-show="ruleItem.attribute.type == 'continous'">{{ruleItem.continousValue}}</span>
                                    <span ng-show="ruleItem.isConclusion">IF</span>
                                    <span ng-hide="ruleItem.isConclusion || $index == ruleItems.length-1">AND</span>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="modalContainer" ng-show="rules.editing || rules.creating">
                        <button class="btn btn-sm btn-primary" ng-click="rules.displayPreview(false)"
                                ng-show="rules.displaingPreview">
                            <i class="fa fa-chevron-circle-up"></i>
                        </button>
                        <button class="btn btn-sm btn-primary" ng-click="rules.displayPreview(true)"
                                ng-hide="rules.displaingPreview">
                            <i class="fa fa-chevron-circle-down"></i>
                        </button>

                        <div ng-show="rules.displaingPreview" class="previewContainer panel panel-body panel-primary">
                                <ul>
                                    <li>
                                        <label>
                                            <span>
                                                <span>
                                                    {{conclusionAttributesSelect.selected.name}}
                                                </span>
                                                {{rules.setOperatorString(conclusionOperatorsSelect.selected.name)}}
                                                {{conclusionValuesSelect.selected.name}}{{conclusionContinousValue}}
                                                <span ng-show="(conclusionContinousValue != undefined && conclusionContinousValue != '')
                                                    || (conclusionValuesSelect.selected != {} && conclusionValuesSelect.selected != undefined)">IF</span>
                                            </span>
                                        </label>
                                    </li>
                                    <li ng-repeat="premise in premises track by $index">
                                        <label>
                                            <span>
                                                <span ng-show="premise.attribute.query == null">
                                                    {{premise.attribute.name}}
                                                </span>
                                                <span ng-hide="premise.attribute.query == null">
                                                    {{premise.attribute.query}}
                                                </span>
                                                {{rules.setOperatorString(premise.operator)}}
                                                <span ng-hide="premise.attribute.type == 'continous'">
                                                    {{premise.value.name}}
                                                </span>
                                                <span ng-show="premise.attribute.type == 'continous'">
                                                    {{premise.continousValue}}
                                                </span>
                                            </span>
                                            <span ng-hide="$index == premises.length-1">
                                                AND
                                            </span>
                                        </label>
                                    </li>
                                </ul>
                        </div>
                    </div>

                    <label>Description:</label><br>
                    <div ng-hide="rules.editing || rules.creating" class="previewContainer panel panel-body panel-primary">
                        <p>{{ruleReadDescription}}</p>
                    </div>
                    <textarea ng-model="ruleDescription" class="ruleDescription form-control"
                            ng-show="rules.editing || rules.creating">

                    </textarea>

                    <label ng-show="rules.editing || rules.creating">Conclusion:</label>
                    <div class="modalContainer" ng-show="rules.editing || rules.creating">
                        <form name="ruleConclusionForm" class="oneLineSelectForm">

                            <ui-select ng-model="conclusionAttributesSelect.selected" on-select="rules.setConclusionValues($select.selected); rules.validateAttribute()"
                                       required class="attributesSelect">
                                <ui-select-match placeholder="Attribute">
                                    {{$select.selected.name}}
                                </ui-select-match>
                                <ui-select-choices repeat=" attribute in conclusionAttributes | filter: $select.search track by $index">
                                    {{attribute.name}}
                                </ui-select-choices>
                            </ui-select>

                            <ui-select ng-model="conclusionOperatorsSelect.selected" on-select=""
                                       ng-required="!rules.conclusionAttributeIsContinous ||
                                    rules.conclusionAttributeIsContinous && !rules.conclusionContinousValue.$pristine"
                                       search-enabled="false" class="operatorsSelect">
                                <ui-select-match placeholder="Operator">
                                    {{$select.selected.name}}
                                </ui-select-match>
                                <ui-select-choices repeat=" operator in conclusionOperators | filter: $select.search track by $index">
                                    {{operator.name}}
                                </ui-select-choices>
                            </ui-select>

                            <ui-select ng-model="conclusionValuesSelect.selected" on-select=""
                                       ng-required="!rules.conclusionAttributeIsContinous" ng-disabled="rules.conclusionAttributesSelect.selected == {}"
                                       ng-hide="rules.conclusionAttributeIsContinous" class="valuesSelect">
                                <ui-select-match placeholder="Value">
                                    {{$select.selected.name}}
                                </ui-select-match>
                                <ui-select-choices repeat=" value in conclusionValues | filter: $select.search track by $index">
                                    {{value.name}}
                                </ui-select-choices>
                            </ui-select>

                            <input type="text" placeholder="Value" ng-show="rules.conclusionAttributeIsContinous" ng-model="conclusionContinousValue"
                                    class="continousValueInput form-control">
                        </form>
                    </div>
                    <div class="errorContainer" ng-show="rules.editing || rules.creating">
                        <div class="alert alert-danger"
                             ng-show="ruleConclusionForm.$invalid || premises.length == 0 || rules.attributesConflict || rules.rulesConflict">
                            <ul>
                                <li ng-show="ruleConclusionForm.$invalid">
                                    <label>
                                        <i class="fa fa-exclamation-circle"></i> Rule must have conclusion
                                    </label>
                                </li>
                                <li ng-show="premises.length == 0">
                                    <label>
                                        <i class="fa fa-exclamation-circle"></i> Rule must have least one premise
                                    </label>
                                </li>
                                <li ng-show="rules.attributesConflict">
                                    <label>
                                        <i class="fa fa-exclamation-circle"></i> Attribute conflict: <span class="cursiveStyle">{{conflictAttributeName}}</span>
                                    </label>
                                </li>
                                <li ng-show="rules.rulesConflict">
                                    <label>
                                        <i class="fa fa-exclamation-circle"></i> This rule already exists
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <label ng-show="rules.editing || rules.creating">Premises:</label>
                    <div class="modalContainer" ng-show="rules.editing || rules.creating">
                        <div class="premiseForm" ng-hide="rules.addingPremise">
                            <button ng-click="rules.setAddingPremise(true)" class="btn btn-sm btn-info newPremiseButton">
                                <i class="fa fa-plus-circle"></i> New</button>
                        </div>
                        <div class="premiseForm" ng-show="rules.addingPremise == true" >
                            <form name="rulePremiseForm" class="oneLineSelectForm">

                                <ui-select ng-model="premiseAttributesSelect.selected" on-select="rules.setPremiseValues($select.selected); rules.validateAttribute()"
                                           required class="attributesSelect">
                                    <ui-select-match placeholder="Attribute">
                                        {{$select.selected.name}}
                                    </ui-select-match>
                                    <ui-select-choices repeat=" attribute in premiseAttributes | filter: $select.search track by $index">
                                        {{attribute.name}}
                                    </ui-select-choices>
                                </ui-select>

                                <ui-select ng-model="premiseOperatorsSelect.selected"
                                           ng-required="!rules.premiseAttributeIsContinous ||
                                        rules.premiseAttributeIsContinous && !rules.premiseContinousValue.$pristine"
                                           search-enabled="false" class="operatorsSelect">
                                    <ui-select-match placeholder="Operator">
                                        {{$select.selected.name}}
                                    </ui-select-match>
                                    <ui-select-choices repeat=" operator in premiseOperators | filter: $select.search track by $index">
                                        {{operator.name}}
                                    </ui-select-choices>
                                </ui-select>

                                <ui-select ng-model="premiseValuesSelect.selected"
                                           ng-required="!rules.premiseAttributeIsContinous" ng-disabled="rules.premiseAttributesSelect.selected == {}"
                                           ng-hide="rules.premiseAttributeIsContinous" class="valuesSelect">
                                    <ui-select-match placeholder="Value">
                                        {{$select.selected.name}}
                                    </ui-select-match>
                                    <ui-select-choices repeat=" value in premiseValues | filter: $select.search track by $index">
                                        {{value.name}}
                                    </ui-select-choices>
                                </ui-select>

                                <input type="text" placeholder="Values" ng-show="rules.premiseAttributeIsContinous" ng-model="premiseContinousValue"
                                        class="continousValueInput form-control">

                            </form>
                            <span class="premiseFormButtons">
                                <button ng-click="rules.setAddingPremise(false); rules.clearPremiseForm(); rules.validateAttribute()"
                                    class="btn btn-default">
                                    Cancel
                                </button>
                                <button ng-disabled="rulePremiseForm.$invalid || rules.attributesConflict" ng-click="rules.addPremise()"
                                        class="btn btn-success">
                                    Add
                                </button>
                            </span>
                        </div>
                    </div>
                    <div ng-show="rules.editing || rules.creating">
                        <table class="table attrValueTable">
                            <thead>
                                <tr>
                                    <th class="orderCell">No.</th>
                                    <th>Premise</th>
                                    <th class="btnCell"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="premise in premises track by $index">

                                <td class="orderCell" ng-hide="rules.editingPremise == $index">{{$index + 1}}</td>
                                <td style="width: 0px;" ng-show="rules.editingPremise == $index"></td>
                                <td class="nameCell" ng-hide="rules.editingPremise == $index">
                                    {{premise.attribute.name}} {{premise.operator}} {{premise.value.name}}
                                    <span ng-show="premise.attribute.type == 'continous'">{{premise.continousValue}}</span>
                                </td>
                                <td ng-show="rules.editingPremise == $index" class="editPremiseForm">
                                    <form name="rulePremiseEditForm" class="oneLineSelectForm">

                                        <ui-select ng-model="premise.editData.attribute.selected"
                                                   on-select="rules.setPremiseEditValues($select.selected, $index); rules.validateAttribute($index)"
                                                   required class="attributesSelect">
                                            <ui-select-match placeholder="Attribute">
                                                {{$select.selected.name}}
                                            </ui-select-match>
                                            <ui-select-choices repeat=" attribute in premiseAttributes | filter: $select.search track by $index">
                                                {{attribute.name}}
                                            </ui-select-choices>
                                        </ui-select>

                                        <ui-select ng-model="premise.editData.operator.selected"
                                                   ng-required="!rules.premiseAttributeIsContinous ||
                                        rules.premiseAttributeIsContinous && !rules.premiseContinousValue.$pristine"
                                                   search-enabled="false" class="operatorsSelect">
                                            <ui-select-match placeholder="Operator">
                                                {{$select.selected.name}}
                                            </ui-select-match>
                                            <ui-select-choices repeat=" operator in premise.editData.operator.array | filter: $select.search track by $index">
                                                {{operator.name}}
                                            </ui-select-choices>
                                        </ui-select>

                                        <ui-select ng-model="premise.editData.value.selected"
                                                   ng-required="rules.editPremiseAttributeIsContinous == false"
                                                   ng-disabled="rules.premiseAttributesSelect.selected == {}"
                                                   ng-hide="rules.editPremiseAttributeIsContinous" class="valuesSelect">
                                            <ui-select-match placeholder="Value">
                                                {{$select.selected.name}}
                                            </ui-select-match>
                                            <ui-select-choices repeat=" value in premise.editData.value.array | filter: $select.search track by $index">
                                                {{value.name}}
                                            </ui-select-choices>
                                        </ui-select>

                                        <input type="text" placeholder="Values" ng-show="rules.editPremiseAttributeIsContinous"
                                               ng-model="premise.editData.value.continousValue"
                                               class="continousValueInput form-control">

                                    </form>
                                    <span class="premiseEditFormButtons">
                                        <button ng-click="rules.cancelPremiseChanges()"
                                                class="btn btn-default">
                                            Cancel
                                        </button>
                                        <button ng-disabled="rulePremiseEditForm.$invalid ||
                                                    rules.attributesConflict && rules.attributesConflictInPremises"
                                                ng-click="rules.savePremiseChanges($index)"
                                                class="btn btn-success">
                                            Add
                                        </button>
                                    </span>
                                </td>
                                <td class="sideMenuCell" ng-hide="rules.editingPremise == $index">
                                        <span class="sideMenu">
                                            <i ng-click="rules.animate($event)" class="fa fa-ellipsis-v fa-2x sideMenuDot"></i>
                                            <button class="btn btn-success sideMenuButton" ng-click="rules.editPremise( $index, $event )">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                            <button class="btn btn-danger sideMenuButton" ng-click="rules.deletePremiseInfo($index, $event)">
                                                <i class="fa fa-trash-o"></i>
                                            </button>
                                        </span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="modal-footer panel-footer">
                    <div ng-show="rules.creating">
                        <button class="btn btn-default" data-dismiss="modal">
                            <i class="fa fa-times fa-fw"></i> Cancel</button>
                        <button class="btn btn-success" ng-click="rules.createNewRule()"
                                ng-disabled="ruleConclusionForm.$invalid || premises.length == 0 || rules.attributesConflict || rules.validateRule()" >
                            <i class="fa fa-check fa-fw"></i> Create</button>
                    </div>
                    <div ng-show="rules.editing">
                        <button class="btn btn-default" data-dismiss="modal">
                            <i class="fa fa-times fa-fw"></i> Cancel</button>
                        <button class="btn btn-success" ng-click="rules.saveChanges()"
                                ng-disabled="ruleConclusionForm.$invalid  || premises.length == 0 || rules.attributesConflict || rules.validateRule()" ><!--|| !rules.validateRule()" >-->
                            <i class="fa fa-check fa-fw"></i> Save</button>
                    </div>
                    <div ng-hide="rules.creating || rules.editing">
                        <button class="btn btn-default" data-dismiss="modal">
                            </i>Close</button>
                    </div>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="deleteModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content panel panel-danger">
                <div class="modal-header panel-heading">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title"><i class="fa fa-trash-o"></i> Deleting</h4>
                </div>
                <div class="modal-body panel-body">
                    <label>Do you want delete rule <span class="cursiveStyle">number {{deleteRuleName}}</span>?</label>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">
                        <i class="fa fa-times fa-fw"></i> No</button>
                    <button class="btn btn-danger" data-dismiss="modal" ng-click="rules.deleteRule(deleteRuleId, deleteRuleIndex)">
                        <i class="fa fa-check fa-fw"></i> Yes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="deletePremiseModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content panel panel-danger">
                <div class="modal-header panel-heading">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title"><i class="fa fa-trash-o"></i> Deleting</h4>
                </div>
                <div class="modal-body panel-body">
                    <label>Do you want delete premise <span class="cursiveStyle">number {{deletePremiseNumber}}</span>?</label>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">
                        <i class="fa fa-times fa-fw"></i> No</button>
                    <button class="btn btn-danger" data-dismiss="modal" ng-click="rules.deletePremise(deletePremiseIndex)">
                        <i class="fa fa-check fa-fw"></i> Yes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</div>