<!--
* Created by M. on 12.07.2016.
* Last edit: 18.07.2016 19:10
-->


<div> <!--ng-controller="verificationCtrl as verify">-->
    <div class="viewContainer panel panel-primary">
        <div class="panel-heading verificationHeading">
            <h3 class="hidden-xs hidden-sm"><i class="fa fa-check-square-o"></i> Verification of {{verificationBaseName}}</h3>
            <h4 class="hidden-lg hidden-md"><i class="fa fa-check-square-o"></i> Verification of {{verificationBaseName}}</h4>
        </div>

        <div class="panel-body" >

            <ul class="nav nav-pills pull-left pull-right">
                <li class="baseElement" ng-click="verify.displayMode = 1">
                    <h4>Inconsistency</h4>
                    <span><label>{{inconsistencyNumber}}</label></span>
                </li>
                <li class="baseElement" ng-click="verify.displayMode = 2">
                    <h4>Sameness</h4>
                    <span><label>{{samenessNumber}}</label></span>
                </li>
                <li class="baseElement" ng-click="verify.displayMode = 3">
                    <h4>Absorption</h4>
                    <span><label>{{absorptionNumber}}</label></span>
                </li>
                <li class="baseElement" ng-click="verify.displayMode = 4">
                    <h4>Doubled Attr</h4>
                    <span><label>{{doubledNumber}}</label></span>
                </li>
            </ul>

            <div class="tableContainer table-responsive verificationTable" ng-hide="verify.displayMode == 0">
                <label ng-show="verify.displayMode == 1">Inconsistency:</label>
                <label ng-show="verify.displayMode == 2">Sameness:</label>
                <label ng-show="verify.displayMode == 3">Absorption:</label>
                <label ng-show="verify.displayMode == 4">Doubled Attribute:</label>

                <table class="table table-hover">

                    <thead class="panel-heading">
                        <tr>
                            <th class="orderCell">No.</th>
                            <th class="rulesCell"><span>Rules</span></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="item in items" ng-show="verify.displayMode == 1">
                            <td class="orderCell clickableCell" ng-click="verify.openModal(item.indexes, 1)">
                                {{$index + 1}}
                            </td>
                            <td class="rulesCell clickableCell" ng-click="verify.openModal(item.indexes, 1)">
                                <span>Rules: {{item.numbers.join(", ")}}</span>
                            </td>
                        </tr>
                        <tr ng-repeat="item in items2" ng-show="verify.displayMode == 2">
                            <td class="orderCell clickableCell" ng-click="verify.openModal(item.indexes, 2)">
                                {{$index + 1}}
                            </td>
                            <td class="rulesCell clickableCell" ng-click="verify.openModal(item.indexes, 2)">
                                <span>Rules: {{item.numbers.join(", ")}}</span>
                            </td>
                        </tr>
                        <tr ng-repeat="item in items3" ng-show="verify.displayMode == 3">
                            <td class="orderCell clickableCell" ng-click="verify.openModal(item.indexes, 3)">
                                {{$index + 1}}
                            </td>
                            <td class="rulesCell clickableCell" ng-click="verify.openModal(item.indexes, 3)">
                                <span>Rules: {{item.numbers.join(", ")}}</span>
                            </td>
                        </tr>
                        <tr ng-repeat="item in items4" ng-show="verify.displayMode == 4">
                            <td class="orderCell clickableCell" > <!--ng-click="verify.openModal(item.indexes, 3)">-->
                                {{$index + 1}}
                            </td>
                            <td class="rulesCell clickableCell"> <!-- ng-click="verify.openModal(item.indexes, 3)">-->
                                <span>Rules: {{item}}</span>
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>

    </div>

    <!-- MODALS -->

    <div id="verificationModal" class="modal fade" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content panel panel-primary">

                <div class="panel-heading">
                    <span>
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">
                            <i class="fa fa-check-square-o"></i>
                            {{verificationModalTitle}}
                        </h4>
                    </span>
                </div>

                <div class="modal-body panel-body">

                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="rule in rules">
                                    <td class="myTableCell">
                                        Rule {{rule.ruleIndex + 1}}
                                    </td>
                                    <td>
                                        {{rule.txt}}
                                    </td>
                                    <td class="sideMenuCell">
                                        <span class="sideMenu">
                                            <i ng-click="verify.animate($event)" class="fa fa-ellipsis-v fa-2x sideMenuDot"></i>
                                            <button class="btn btn-success sideMenuButton" ng-click="verify.editRule(rule.ruleIndex, $event, $index)"
                                                    ng-disabled="!verify.permission">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                            <button class="btn btn-danger sideMenuButton" ng-click="verify.deleteInfo(rule.ruleIndex, $event, $index)"
                                                    ng-disabled="!verify.permission">
                                                <i class="fa fa-trash-o"></i>
                                            </button>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

                <div class="modal-footer panel-footer">
                    <div>
                        <button class="btn btn-default" data-dismiss="modal">
                            Close</button>
                    </div>
                </div>


            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div ng-controller="rulesCtrl as rules">
        <div id="ruleModal" class="modal fade" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content panel panel-primary">

                    <div class="panel-heading">
                        <span>
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                            </button>
                            <h4 class="modal-title">
                                <i class="fa fa-edit"></i>
                                Editing
                            </h4>
                        </span>
                    </div>

                    <div class="modal-body panel-body">
                        <label>Preview:</label>
                        <br>
                        <div class="modalContainer">
                            <button class="btn btn-sm btn-primary" ng-click="rules.displayPreview(false)"
                                    ng-show="rules.displaingPreview">
                                <i class="fa fa-chevron-circle-up"></i>
                            </button>
                            <button class="btn btn-sm btn-primary" ng-click="rules.displayPreview(true)"
                                    ng-hide="rules.displaingPreview">
                                <i class="fa fa-chevron-circle-down"></i>
                            </button>

                            <div ng-show="rules.displaingPreview" class="previewContainer panel panel-body panel-primary">
                                <ul>
                                    <li>
                                        <label>
                                                <span>
                                                    <span>
                                                        {{conclusionAttributesSelect.selected.name}}
                                                    </span>
                                                    {{rules.setOperatorString(conclusionOperatorsSelect.selected.name)}}
                                                    {{conclusionValuesSelect.selected.name}}{{conclusionContinousValue}}
                                                    <span ng-show="(conclusionContinousValue != undefined && conclusionContinousValue != '')
                                                        || (conclusionValuesSelect.selected != {} && conclusionValuesSelect.selected != undefined)">IF</span>
                                                </span>
                                        </label>
                                    </li>
                                    <li ng-repeat="premise in premises track by $index">
                                        <label>
                                                <span>
                                                    <span ng-show="premise.attribute.query == null">
                                                        {{premise.attribute.name}}
                                                    </span>
                                                    <span ng-hide="premise.attribute.query == null">
                                                        {{premise.attribute.query}}
                                                    </span>
                                                    {{rules.setOperatorString(premise.operator)}}
                                                    <span ng-hide="premise.attribute.type == 'continous'">
                                                        {{premise.value.name}}
                                                    </span>
                                                    <span ng-show="premise.attribute.type == 'continous'">
                                                        {{premise.continousValue}}
                                                    </span>
                                                </span>
                                                <span ng-hide="$index == premises.length-1">
                                                    AND
                                                </span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <label>Description:</label><br>
                        <textarea ng-model="ruleDescription" class="ruleDescription form-control">

                        </textarea>

                        <label>Conclusion:</label>
                        <div class="modalContainer">
                            <form name="ruleConclusionForm" class="oneLineSelectForm">

                                <ui-select ng-model="conclusionAttributesSelect.selected" on-select="rules.setConclusionValues($select.selected); rules.validateAttribute()"
                                           required class="attributesSelect">
                                    <ui-select-match placeholder="Attribute">
                                        {{$select.selected.name}}
                                    </ui-select-match>
                                    <ui-select-choices repeat=" attribute in conclusionAttributes | filter: $select.search track by $index">
                                        {{attribute.name}}
                                    </ui-select-choices>
                                </ui-select>

                                <ui-select ng-model="conclusionOperatorsSelect.selected" on-select=""
                                           ng-required="!rules.conclusionAttributeIsContinous ||
                                        rules.conclusionAttributeIsContinous && !rules.conclusionContinousValue.$pristine"
                                           search-enabled="false" class="operatorsSelect">
                                    <ui-select-match placeholder="Operator">
                                        {{$select.selected.name}}
                                    </ui-select-match>
                                    <ui-select-choices repeat=" operator in conclusionOperators | filter: $select.search track by $index">
                                        {{operator.name}}
                                    </ui-select-choices>
                                </ui-select>

                                <ui-select ng-model="conclusionValuesSelect.selected" on-select=""
                                           ng-required="!rules.conclusionAttributeIsContinous" ng-disabled="rules.conclusionAttributesSelect.selected == {}"
                                           ng-hide="rules.conclusionAttributeIsContinous" class="valuesSelect">
                                    <ui-select-match placeholder="Value">
                                        {{$select.selected.name}}
                                    </ui-select-match>
                                    <ui-select-choices repeat=" value in conclusionValues | filter: $select.search track by $index">
                                        {{value.name}}
                                    </ui-select-choices>
                                </ui-select>

                                <input type="text" placeholder="Value" ng-show="rules.conclusionAttributeIsContinous" ng-model="conclusionContinousValue"
                                       class="continousValueInput form-control">
                            </form>
                        </div>
                        <div class="errorContainer">
                            <div class="alert alert-danger"
                                 ng-show="ruleConclusionForm.$invalid || premises.length == 0 || rules.attributesConflict || rules.rulesConflict">
                                <ul>
                                    <li ng-show="ruleConclusionForm.$invalid">
                                        <label>
                                            <i class="fa fa-exclamation-circle"></i> Rule must have conclusion
                                        </label>
                                    </li>
                                    <li ng-show="premises.length == 0">
                                        <label>
                                            <i class="fa fa-exclamation-circle"></i> Rule must have least one premise
                                        </label>
                                    </li>
                                    <li ng-show="rules.attributesConflict">
                                        <label>
                                            <i class="fa fa-exclamation-circle"></i> Attribute conflict: <span class="cursiveStyle">{{conflictAttributeName}}</span>
                                        </label>
                                    </li>
                                    <li ng-show="rules.rulesConflict">
                                        <label>
                                            <i class="fa fa-exclamation-circle"></i> This rule already exists
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <label>Premises:</label>
                        <div class="modalContainer">
                            <div class="premiseForm" ng-hide="rules.addingPremise">
                                <button ng-click="rules.setAddingPremise(true)" class="btn btn-sm btn-info newPremiseButton">
                                    <i class="fa fa-plus-circle"></i> New</button>
                            </div>
                            <div class="premiseForm" ng-show="rules.addingPremise == true" >
                                <form name="rulePremiseForm" class="oneLineSelectForm">

                                    <ui-select ng-model="premiseAttributesSelect.selected" on-select="rules.setPremiseValues($select.selected); rules.validateAttribute()"
                                               required class="attributesSelect">
                                        <ui-select-match placeholder="Attribute">
                                            {{$select.selected.name}}
                                        </ui-select-match>
                                        <ui-select-choices repeat=" attribute in premiseAttributes | filter: $select.search track by $index">
                                            {{attribute.name}}
                                        </ui-select-choices>
                                    </ui-select>

                                    <ui-select ng-model="premiseOperatorsSelect.selected"
                                               ng-required="!rules.premiseAttributeIsContinous ||
                                            rules.premiseAttributeIsContinous && !rules.premiseContinousValue.$pristine"
                                               search-enabled="false" class="operatorsSelect">
                                        <ui-select-match placeholder="Operator">
                                            {{$select.selected.name}}
                                        </ui-select-match>
                                        <ui-select-choices repeat=" operator in premiseOperators | filter: $select.search track by $index">
                                            {{operator.name}}
                                        </ui-select-choices>
                                    </ui-select>

                                    <ui-select ng-model="premiseValuesSelect.selected"
                                               ng-required="!rules.premiseAttributeIsContinous" ng-disabled="rules.premiseAttributesSelect.selected == {}"
                                               ng-hide="rules.premiseAttributeIsContinous" class="valuesSelect">
                                        <ui-select-match placeholder="Value">
                                            {{$select.selected.name}}
                                        </ui-select-match>
                                        <ui-select-choices repeat=" value in premiseValues | filter: $select.search track by $index">
                                            {{value.name}}
                                        </ui-select-choices>
                                    </ui-select>

                                    <input type="text" placeholder="Values" ng-show="rules.premiseAttributeIsContinous" ng-model="premiseContinousValue"
                                           class="continousValueInput form-control">

                                </form>
                                <span class="premiseFormButtons">
                                    <button ng-click="rules.setAddingPremise(false); rules.clearPremiseForm(); rules.validateAttribute()"
                                            class="btn btn-default">
                                        Cancel
                                    </button>
                                    <button ng-disabled="rulePremiseForm.$invalid || rules.attributesConflict" ng-click="rules.addPremise()"
                                            class="btn btn-success">
                                        Add
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div>
                            <table class="table attrValueTable">
                                <thead>
                                <tr>
                                    <th class="orderCell">No.</th>
                                    <th>Premise</th>
                                    <th class="btnCell"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="premise in premises track by $index">

                                    <td class="orderCell" ng-hide="rules.editingPremise == $index">{{$index + 1}}</td>
                                    <td style="width: 0px;" ng-show="rules.editingPremise == $index"></td>
                                    <td class="nameCell" ng-hide="rules.editingPremise == $index">
                                        {{premise.attribute.name}} {{premise.operator}} {{premise.value.name}}
                                        <span ng-show="premise.attribute.type == 'continous'">{{premise.continousValue}}</span>
                                    </td>
                                    <td ng-show="rules.editingPremise == $index" class="editPremiseForm">
                                        <form name="rulePremiseEditForm" class="oneLineSelectForm">

                                            <ui-select ng-model="premise.editData.attribute.selected"
                                                       on-select="rules.setPremiseEditValues($select.selected, $index); rules.validateAttribute($index)"
                                                       required class="attributesSelect">
                                                <ui-select-match placeholder="Attribute">
                                                    {{$select.selected.name}}
                                                </ui-select-match>
                                                <ui-select-choices repeat=" attribute in premiseAttributes | filter: $select.search track by $index">
                                                    {{attribute.name}}
                                                </ui-select-choices>
                                            </ui-select>

                                            <ui-select ng-model="premise.editData.operator.selected"
                                                       ng-required="!rules.premiseAttributeIsContinous ||
                                            rules.premiseAttributeIsContinous && !rules.premiseContinousValue.$pristine"
                                                       search-enabled="false" class="operatorsSelect">
                                                <ui-select-match placeholder="Operator">
                                                    {{$select.selected.name}}
                                                </ui-select-match>
                                                <ui-select-choices repeat=" operator in premise.editData.operator.array | filter: $select.search track by $index">
                                                    {{operator.name}}
                                                </ui-select-choices>
                                            </ui-select>

                                            <ui-select ng-model="premise.editData.value.selected"
                                                       ng-required="!rules.premiseAttributeIsContinous" ng-disabled="rules.premiseAttributesSelect.selected == {}"
                                                       ng-hide="rules.editPremiseAttributeIsContinous" class="valuesSelect">
                                                <ui-select-match placeholder="Value">
                                                    {{$select.selected.name}}
                                                </ui-select-match>
                                                <ui-select-choices repeat=" value in premise.editData.value.array | filter: $select.search track by $index">
                                                    {{value.name}}
                                                </ui-select-choices>
                                            </ui-select>

                                            <input type="text" placeholder="Values" ng-show="rules.editPremiseAttributeIsContinous"
                                                   ng-model="premise.editData.value.continousValue"
                                                   class="continousValueInput form-control">

                                        </form>
                                        <span class="premiseEditFormButtons">
                                            <button ng-click="rules.cancelPremiseChanges()"
                                                    class="btn btn-default">
                                                Cancel
                                            </button>
                                            <button ng-disabled="rulePremiseEditForm.$invalid || rules.validateAttribute($index)"
                                                    ng-click="rules.savePremiseChanges($index)"
                                                    class="btn btn-success">
                                                Add
                                            </button>
                                        </span>
                                    </td>
                                    <td class="sideMenuCell" ng-hide="rules.editingPremise == $index">
                                            <span class="sideMenu">
                                                <i ng-click="rules.animate($event)" class="fa fa-ellipsis-v fa-2x sideMenuDot"></i>
                                                <button class="btn btn-success sideMenuButton" ng-click="rules.editPremise( $index, $event )">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                                <button class="btn btn-danger sideMenuButton" ng-click="rules.deletePremiseInfo($index, $event)">
                                                    <i class="fa fa-trash-o"></i>
                                                </button>
                                            </span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="modal-footer panel-footer">
                        <div>
                            <button class="btn btn-default" data-dismiss="modal">
                                <i class="fa fa-times fa-fw"></i> Cancel</button>
                            <button class="btn btn-success" ng-click="verify.saveChanges(rules.createDataToSave())"
                                    ng-disabled="ruleConclusionForm.$invalid  || premises.length == 0 || rules.attributesConflict || rules.validateRule()" ><!--|| !rules.validateRule()" >-->
                                <i class="fa fa-check fa-fw"></i> Save</button>
                        </div>
                    </div>

                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div id="deletePremiseModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content panel panel-danger">
                    <div class="modal-header panel-heading">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title"><i class="fa fa-trash-o"></i> Deleting</h4>
                    </div>
                    <div class="modal-body panel-body">
                        <label>Do you want delete premise <span class="cursiveStyle">number {{deletePremiseNumber}}</span>?</label>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal">
                            <i class="fa fa-times fa-fw"></i> No</button>
                        <button class="btn btn-danger" data-dismiss="modal" ng-click="rules.deletePremise(deletePremiseIndex)">
                            <i class="fa fa-check fa-fw"></i> Yes</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

    </div>

    <div id="deleteModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content panel panel-danger">
                <div class="modal-header panel-heading">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title"><i class="fa fa-trash-o"></i> Deleting</h4>
                </div>
                <div class="modal-body panel-body">
                    <label>Do you want delete rule <span class="cursiveStyle">number {{deleteRuleName}}</span>?</label>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">
                        <i class="fa fa-times fa-fw"></i> No</button>
                    <button class="btn btn-danger" data-dismiss="modal" ng-click="verify.deleteRule(deleteRuleIndex, ruleModalIndex)">
                        <i class="fa fa-check fa-fw"></i> Yes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <div id="verificationMask" class="baseMask" ng-show="verify.showMask">
        <div>
            <i class="fa fa-spinner fa-pulse fa-5x"></i>
            <h3>Pleas wait...</h3>
        </div>
    </div>

</div>