<!--
* Created by M. on 01.04.2016.
* * Last edit: 06.06.2016 23:10
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>

    <!-- LIBS -->
        <!-- jQuery -->
        <script type="text/javascript" src="libs/jquery/jquery-1.12.1.js"></script>
        <!-- Angular -->
        <script src="libs/angular/angular.js"></script>
        <script src="libs/angular/angular-ui-router.js"></script>
        <script src="libs/angular/ngStorage.js"></script>
        <script src="libs/angular/angular-messages.js"></script>
        <script src="libs/angular/angular-resource.js"></script>
        <script src="libs/angular/angular-xeditable/js/xeditable.js"></script>
        <link rel="stylesheet" type="text/css" href="libs/angular/angular-xeditable/css/xeditable.css"/>
        <script src="libs/angular/ui-select/select.js"></script>
        <link rel="stylesheet" type="text/css" href="libs/angular/ui-select/select.css"/>
        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" href="libs/bootstrap/css/bootstrap.css" />
        <script type="text/javascript" src="libs/bootstrap/js/bootstrap.js"></script>
        <!-- Fonts -->
        <link rel="stylesheet" type="text/css" href="libs/font-awesome/css/font-awesome.css"/>
    <!-- CODE -->
    <script type="text/javascript" src="js/app.js" charset="utf-8"></script>
    <script type="text/javascript" src="js/code.js"></script>
    <script type="text/javascript" src="js/constant.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <!-- SERVICES -->
    <!--<script type="text/javascript" src="js/services/bases.js"></script>
    <script type="text/javascript" src="js/services/facts.js"></script>
    <script type="text/javascript" src="js/services/rules.js"></script>
    <script type="text/javascript" src="js/services/attributes.js"></script>
    <script type="text/javascript" src="js/services/shares.js"></script>-->
    <script type="text/javascript" src="js/services/tokens.js"></script>

    <script type="text/javascript" src="js/services/basesR.js"></script>
    <script type="text/javascript" src="js/services/attributesR.js"></script>
    <script type="text/javascript" src="js/services/factsR.js"></script>
    <script type="text/javascript" src="js/services/registrationR.js"></script>
    <script type="text/javascript" src="js/services/rulesR.js"></script>
    <script type="text/javascript" src="js/services/sharesR.js"></script>
    <script type="text/javascript" src="js/services/usersR.js"></script>
    <script type="text/javascript" src="js/httpauthconfig.js"></script>
    <!-- CONTROLLERS -->
    <script type="text/javascript" src="js/controllers/attributesCtrl.js"></script>
    <script type="text/javascript" src="js/controllers/authCtrl.js"></script>
    <script type="text/javascript" src="js/controllers/baseCtrl.js"></script>
    <script type="text/javascript" src="js/controllers/factsCtrl.js"></script>
    <script type="text/javascript" src="js/controllers/headerCtrl.js"></script>
    <script type="text/javascript" src="js/controllers/homeCtrl.js"></script>
    <script type="text/javascript" src="js/controllers/inferenceCtrl.js"></script>
    <script type="text/javascript" src="js/controllers/loginCtrl.js"></script>
    <script type="text/javascript" src="js/controllers/registrationCtrl.js"></script>
    <script type="text/javascript" src="js/controllers/rulesCtrl.js"></script>
    <script type="text/javascript" src="js/controllers/verificationCtrl.js"></script>
    <script type="text/javascript" src="js/controllers/visualisationCtrl.js"></script>
    <!-- FILTERS AND VALIDATORS -->
    <script type="text/javascript" src="js/validationDirectives.js"></script>
    <script type="text/javascript" src="js/filters.js"></script>

    <!--<base href="http://www.kbexplorer.ii.us.edu.pl/~msiminski/">-->
    <!--<base href="ftp://msiminski@kbexplorer.ii.us.edu.pl/public_html">-->


</head>
<body ng-app="kbExplorer">
<div ng-controller="KbExplorerController as kbExplorer">
   <header ng-include="'assets/header.html'"></header>
    <!--<div class="baseMask" ng-show="kbExplorer.maskShow"></div>-->
    <div id="viewContainer" ui-view></div>

    <!--<p>This is {{ sparta }}! {{result}}</p>-->


<!--MODALS-->

<div id="userModal" class="modal fade" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content panel panel-primary">

            <div class="modal-header panel-heading">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">
                    <i class="fa fa-user"></i>
                    Account
                </h4>
            </div>

            <div class="modal-body panel-body">

                <!--<div class="modalContainer form-group">
                    <form class="form-horizontal myForm" name="baseForm" novalidate>
                        <div class="" ng-class="{ 'has-error': baseForm.baseName.$invalid && baseForm.baseName.$pristine ||
                                baseForm.baseName.$invalid && !baseForm.baseName.$pristine || baseForm.baseName.$error.baseNameDirective2}">
                            <label for="baseName">Name:</label>
                            <input id="baseName" name="baseName" type="text" class="form-control" placeholder="Name"
                                   ng-model="baseName" required base-name-directive-2="">
                        </div>
                    </form>
                </div>

                <div class="smallErrorContainer">
                    <div ng-show="baseForm.baseName.$invalid && baseForm.baseName.$pristine ||
                                baseForm.baseName.$invalid && !baseForm.baseName.$pristine || baseForm.baseName.$error.baseNameDirective2"
                         class="alert alert-danger">
                        <ul>
                            <li ng-show="baseForm.baseName.$error.baseNameDirective2">
                                <label>
                                    <i class="fa fa-exclamation-circle"> This name is already taken</i>
                                </label>
                            </li>
                            <li ng-messages="baseForm.baseName.$error" ng-show="!baseForm.baseName.$pristine">
                                <label ng-message="required">
                                    <i class="fa fa-exclamation-circle"> Base name is required.</i>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="modalContainer form-group">
                    <label for="baseDescription">Description:</label>
                        <textarea id="baseDescription" class="form-control" ng-model="baseDescription" rows="4" placeholder="Description">

                        </textarea>
                </div>-->

                <div class="modalContainer">
                    <label>Login:</label>
                    <input ng-model="userLogin" type="text" readonly class="form-control">
                    <label>E-mail:</label>
                    <input ng-model="userMail" type="text" readonly class="form-control">
                    <label>Name:</label>
                    <input ng-model="userName" type="text" class="form-control">
                    <label>Surname:</label>
                    <input ng-model="userSurname" type="text" class="form-control">
                </div>
                {{userInfo}}

            </div>

            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">
                    <i class="fa fa-times fa-fw"></i> Cancel</button>
                <button class="btn btn-success" ng-click="kbExplorer.saveUserChanges()"
                        ng-disabled="">
                    <i class="fa fa-check fa-fw"></i> Save</button>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="endSessionModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content panel panel-info">
            <div class="modal-header panel-heading">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title"><i class="fa fa-info-circle"></i> Message</h4>
            </div>
            <div class="modal-body panel-body">
                <label>Your session has ended</label>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">
                    <i class="fa fa-times fa-fw"></i> OK
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div id="infoModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content panel panel-info">
            <div class="modal-header panel-heading">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title"><i class="fa fa-info-circle"></i> Message</h4>
            </div>
            <div class="modal-body panel-body">
                <label>{{tempMsg}}</label>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">
                    <i class="fa fa-times fa-fw"></i> OK
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</div>
</body>
</html>