<!--
* Created by M. on 01.04.2016.
* Last edit: 15.04.2016 20:55
-->

<!DOCTYPE html>
<html>
    <head>
        <script src="../libs/angular/angular.js"></script>
        <script src="../libs/angular/ngStorage.js"></script>
        <link rel="stylesheet" type="text/css" href="../libs/font-awesome/css/font-awesome.css"/>

        <script src="../js/constant.js"></script>
        <script src="../js/auth.js"></script>
        <base href="/">

        <style>
            body{
                background-color: black;
                color: white;
            }

            div{
                width: 100%;
                position: relative;
                top: 200px;

                text-align: center;
            }

        </style>

    </head>
    <body ng-app="auth">
        <div ng-controller="authCtrl as ctrl">
            <!--<p>{{code}}</p>
            <p>{{token}} // {{storage.token}}</p>
            <p>{{r_token}}</p>-->

            <i class="fa fa-spinner fa-pulse fa-5x"></i>
            <h3>Authorization...</h3>

        </div>
    </body>
</html>