<!--
* Created by M. on 01.04.2016.
* Last edit: 13.10.2016 15:10
-->

<!--<h1 style="margin-left: auto; margin-right: auto; background-color: red">Header</h1>-->
<img id="appLogo" src="assets/images/logo.png">
<ul class="nav nav-pills pull-left headerMenu" ng-controller="headerCtrl as header"> <!-- ng-show="header.isLogin()"-->
    <li ui-sref-active="active" ng-show="header.isState('home')">
        <a ui-sref="home"><i class="fa fa-home fa-2x"></i></a>
    </li>
    <li ui-sref-active="active" ng-show="header.isState('registration')">
        <a ui-sref="registration"><i class="fa fa-user-plus fa-2x" aria-hidden="true"></i></a>
    </li>
    <li ui-sref-active="active" ng-show="header.isState('home') && header.isLogin()">
        <a ui-sref="base"><i class="fa fa-database fa-2x" aria-hidden="true"></i></a>
    </li>
    <li ui-sref-active="active" ng-show="header.isState('visualisation') && header.isLogin()">
        <a ui-sref="visualisation"><i class="fa fa-puzzle-piece fa-2x" aria-hidden="true"></i></a>
    </li>
    <li ui-sref-active="active" ng-show="header.isState('verification') && header.isLogin()">
        <a ui-sref="verification"><i class="fa fa-check-square-o fa-2x" aria-hidden="true"></i></a>
    </li>
    <li ui-sref-active="active" ng-show="header.isState('facts') && header.isLogin()">
        <a ui-sref="facts"><i class="fa fa-list-ol fa-2x" aria-hidden="true"></i></a>
    </li>
    <li ui-sref-active="active" ng-show="header.isState('rules') && header.isLogin()">
        <a ui-sref="rules"><i class="fa fa-list-ol fa-2x" aria-hidden="true"></i></a>
    </li>
    <li ui-sref-active="active" ng-show="header.isState('attributes') && header.isLogin()">
        <a ui-sref="attributes"><i class="fa fa-list-ol fa-2x" aria-hidden="true"></i></a>
    </li>
    <li ui-sref-active="active" ng-show="header.isState('inference') && header.isLogin()">
        <a ui-sref="inference"><i class="fa fa-retweet fa-2x" aria-hidden="true"></i></a>
    </li>


</ul>
<ul class="nav nav-pills pull-right headerMenu" ng-controller="headerCtrl as header" ng-show="header.isLogin()" >
    <!--<li ui-sref-active="active" ng-click="header.editUser()">
        <a><i class="fa fa-user fa-2x"></i></a>
    </li>-->
    <li ui-sref-active="active">
        <a ng-click="header.logout()"><i class="fa fa-sign-out fa-2x"></i></a>
    </li>
</ul>